@media (min-width: 1200px) {
    .row {
        max-width: 100%;
    }
}
.row {
    width: 100%;
    padding: 10px 1.5rem 0;
    transition: padding 0.25s ease-in-out;
    margin-left: auto;
    margin-right: auto;
}
.col_12 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
}
.page_title_box {
    padding: 0 20px;
    margin: 0 -27px 30px -27px;
    /* background-color: #292e32; */
    box-shadow: 0 0 2px 0 rgba(30, 30, 30, 0.15);
}
/* .page_title_box .page_title_right {
    float: right;
}
.breadcrumb {
    padding: 14px 0;
    margin: 0 !important;
    display: flex;
    list-style: none;
    background-color: transparent;
    border-radius: 0.25rem;
}
.breadcrumb_item > a {
    color: #dee2e6;
}
.breadcrumb_item {
    padding-left: 0.5rem;
}
.breadcrumb_item::before {
    font-family: 'Material Design Icons';
}
.breadcrumb_item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #ced4da;
    content: 'ï…‚';
} */
.page_title_box .page_title {
    font-size: 18px;
    margin: 0;
    line-height: 50px;
    font-weight: 700;
    color: #292e32;
}
/* account  */
.layout_page {
    background-color: #f6faff;
    color: rgba(58, 53, 65, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 6px;
    background-image: none;
    overflow: hidden;
    box-shadow: 0px 2px 10px 0px rgba(58, 53, 65, 0.1);
}
.header_info {
    overflow: hidden;
    min-height: 48px;
    display: flex;
    border-bottom: 1px solid rgba(58, 53, 65, 0.12);
}
.header_gird {
    overflow: hidden;
    margin-bottom: 0;
    position: relative;
    display: inline-block;
    flex: 1 1 auto;
    white-space: nowrap;
    width: 100%;
}
.account_setting {
    display: flex;
}
.action_btn {
    color: #9155fd;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    cursor: pointer;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    min-height: 48px;
    padding: 12px 16px;
}
.item_setting {
    display: flex;
    align-items: center;
}
.item_setting svg {
    width: 1em;
    height: 1em;
    display: inline-block;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    fill: currentColor;
}
.title_account {
    line-height: 1.71;
    font-size: 0.875rem;
    margin-left: 0.6rem;
}

/* body  */
.body_info {
    padding: 0rem;
}
.body_info_card {
    padding: 1.25rem;
}
form {
    display: block;
    margin-top: 0em;
}
.body_container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: -1.75rem;
    width: calc(100% + 1.75rem);
    margin-left: -1.75rem;
}
.body_container > .update_avt,
.body_container > .info_item,
.body_container > .save_change {
    padding-left: 1.75rem;
    padding-top: 1.75rem;
}
.update_avt {
    margin-top: 1.2rem;
    margin-bottom: 0.75rem;
    box-sizing: border-box;
    margin: 0;
    display: block !important;
}
.update_gird {
    align-items: center;
    display: flex;
}
.show_avt {
    width: 120px;
    height: 120px;
    margin-right: 1.5625rem;
    border-radius: 6px;
    object-fit: cover;
}
.update_photo {
    display: block;
    position: relative;
    margin: 11px 0;
    cursor: pointer;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #fff;
    min-width: 64px;
    background-color: #9155fd;
    font-weight: 500;
    border-radius: 5px;
    line-height: 1.71;
    letter-spacing: 0.3px;
    padding: 9px;
    width: 170px;
}
.text_name {
    margin: 0;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: rgba(58, 53, 65, 0.68);
    margin-top: 1.25rem;
}
/* show info  */
.info_item {
    display: block;
    box-sizing: border-box;
    margin: 0;
    flex-grow: 0;
    max-width: 100%;
}
@media (min-width: 600px) {
    .info_item {
        -webkit-flex-basis: 50%;
    }
}
.info_gird {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: top;
    width: 100%;
}
.form_control {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.15px;
    padding: 0px;
    display: block;
    transform-origin: left top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 24px);
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(14px, 16px) scale(1);
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
        max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    z-index: 1;
    pointer-events: none;
    color: rgba(58, 53, 65, 0.68);
}
.input_info {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.15px;
    color: rgba(58, 53, 65, 0.87);
    box-sizing: border-box;
    cursor: text;
    -webkit-box-align: center;
    /* -ms-flex-align: center; */
    align-items: center;
    width: 100%;
    position: relative;
    border-radius: 6px;
}
.show_info {
    font: inherit;
    letter-spacing: inherit;
    color: currentColor;
    /* padding: 4px 0 5px; */
    border: 0;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0;
    width: 100%;
    animation-duration: 10ms;
    padding: 16.5px 14px;
}
.outline {
    border-color: rgba(58, 53, 65, 0.22);
    text-align: left;
    position: absolute;
    bottom: 0;
    right: 0;
    top: -5px;
    left: 0;
    margin: 0;
    padding: 0 8px;
    pointer-events: none;
    border-radius: inherit;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    min-width: 0%;
}
.css_lg {
    float: unset;
    overflow: hidden;
    display: block;
    width: auto;
    padding: 0;
    height: 11px;
    font-size: 0.75em;
    visibility: hidden;
    max-width: 100%;
    transition: max-width 100ms cubic-bezier(0, 0, 0.2, 1) 50ms;
    white-space: nowrap;
}
.css_lg > span {
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    opacity: 0;
    visibility: visible;
}
.save_change {
    box-sizing: border-box;
    margin: 0;
}
.btn_save,
.btn_reset {
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    font-weight: 500;
    border-radius: 5px;
    line-height: 1.71;
    letter-spacing: 0.3px;
    min-width: 64px;
    text-transform: uppercase;
    padding: 5px 20px;
}
.btn_save {
    background-color: #9155fd;
    color: #fff;
}
.btn_reset {
    color: #8a8d93;
    border: 1px solid rgba(138, 141, 147, 0.5);
    margin: 0 30px;
}
