.breadcrumb_container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 40px;
    margin: auto;
}

.breadcrumb {
    margin: 0 0 35px 45px;
}

.breadcrumb span:not(:last-child) {
    margin-inline-end: 0.6875rem;
}

.breadcrumb_link a {
    border-bottom: none !important;
    transition: all 0.1s linear;
}

/* //BODY */

.detail_content {
    margin-top: 125px;
    display: block;
    position: relative;
}

.detail_container {
    display: flex;
    width: 100%;
    /* display: flex; */
    flex-direction: row;
    /* height: 500px; */
}

.detail_left,
.detail_right {
    flex: 1;
    /* width: 608px; */
    width: 50%;
    /* width: 575px;
    height: 400px; */
}

/* LEFT  */
.detail_left {
    width: 575px;
    height: 400px;
    margin-right: 42px;
}
.detail_left_gird {
    position: relative;
}

.detail_left_gird img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

/* RIGHT  */
.header_right {
    margin: auto 45px;
}
.note {
    margin: 28px 0 0;
}

.gird_text {
    line-height: 1.33;
    width: 100%;
}
.title_recipe {
    margin: 0 0 20px;
    text-overflow: ellipsis;
    text-shadow: 0 0 0;
    font-size: 40px;
}

.atribution {
    margin: 4px 0 0;
    display: block;
}
.source_link {
    font-size: 16px;
    line-height: 1;
    color: gray;
}
.recipe_rating {
    display: inline-block;
    margin: 12px auto;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.625;
    color: #f46708;
}

.recipe_rating span {
    display: inline-block;
    font-style: normal;
    speak: none;
    font-weight: normal;
    font-family: 'y-icon';
}

.count_rating {
    display: inherit;
    margin: inherit;
    letter-spacing: 1px;
    transform: translate(40%, -20%);
    font-size: 12px;
    line-height: 1;
}

.description {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
    text-align: justify;
}
.review_content {
    display: inline-block;
    float: left;
    margin-bottom: 16px;
}

.count_material {
    width: 34em;
    margin-left: -20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ingredient {
    color: #4a4a4a;
    flex: 1;
    text-align: center;
    font-size: 40px;
    line-height: 1.2;
    margin-right: 20px;
}

.ingredient img {
    width: 30px;
    height: 30px;
    margin: 0 6px;
    margin-top: -10px;
}

.value {
    color: #4a4a4a;
    display: inline-block;
    font-size: 40px;
    line-height: 1.2;
    font-family: europa-lightregular, sans-serif;
    font-weight: 100;
}

.name_value {
    position: relative;
    top: -4px;
    display: block;
    font-size: 14px;
    line-height: 1.714285714285714;
    font-family: europa-regularregular, sans-serif;
    font-weight: 400;
}

.line_right {
    /* margin-top: 20px; */
}

.line_right hr {
    border-style: inset;
    border-width: 1.5px;
    margin: 37px 0 0;
}

/* responsive của phần đầu  */
@media (max-width: 1023px) {
    .detail_container {
        display: inline-block;
        overflow: hidden;
        text-align: center;
        margin: 0 auto;
    }

    .detail_left,
    .detail_right {
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }

    .count_material {
        margin: 0 auto 20px;
    }

    .detail_left {
        width: 680px;
        /* height: 400px; */
        /* margin-right: 42px; */
    }
    .detail_left_gird img {
        height: auto;
    }

    .recipe_ingredient_wrapper,
    .step_1,
    .step_header {
        margin: 32px 45px;
    }
}

/* BOTTOM?  */
.bottom_recipe,
.step_recipe_wrapper {
    display: flex;
    margin: 32px 105px;
}
.recipe_ingredient_wrapper,
.step_1,
.step_header {
    margin: 42px auto 30px;
    /* max-width: 1010px; */
    width: 100%;
}
/* STEP  */

.step_wrapper {
    margin-top: -40px;
}
.title_header {
    display: inline;
    color: #4a4a4a;
    font-weight: 600;
    font-size: 24px;
}

.step_header1 {
    display: flex;
    width: 100%;
    /* border-top: 1px solid #e3e3e3; */
    border-bottom: 1px solid #e3e3e3;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0px;
}

.step_header svg {
    margin-right: 12px;
    margin-bottom: 14px;
}
.step_recipe_wrapper {
    flex-direction: column;
}

.step_1 p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: justify;
}

.step_1 p img {
    display: block;
    margin: 12px auto;
    padding: 0;
    width: 540px;
    height: 360px;
    border-radius: 4px;
}

.space {
    width: 100%;
    height: 10px;
}

.ingredient_header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: -4px 0 19px;
}
.ingrs_header_title,
.title_step {
    margin: 0;
    font-size: 24px;
    line-height: 1.333333333333333;
    color: #242424;
    font-weight: bold;
}

.flex_expand {
    flex: 1;
}
.unit_serving {
    display: flex;
    align-items: center;
}
.serving {
    position: relative;
    margin-left: 32px;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.count_serving {
    color: #4a4a4a;
    font-weight: 600;
}
/* *******  */
.shopping_list_ingrs,
.steps_wrapper {
    display: flex;
}

.list_ingrs {
    margin-left: -34px;
    width: 600px;
}
.show_ingrs {
    display: flex;
    align-items: center;
}
.type_add {
    position: relative;
    cursor: pointer;
    font-size: 16px;
    width: 1em;
    height: 1.5em;
    z-index: 10;
    padding: 0;
}

.type_add i {
    color: #3a9691;
    display: inline-block;
    position: absolute;
    bottom: auto;
    left: auto;
    width: 1em;
}

.ingredient_line {
    display: block;
    margin-left: 0.5em;
    max-width: calc(100% - 24px);
    padding: 0.5em 0;
    font-size: 16px;
    line-height: 1.5;
}

.name_ingrs {
    font-weight: 600;
}

/* *****  */
.save_collection {
    display: flex;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    justify-content: space-between;
    margin: 32px 105px;
    align-items: center;
}
.save_btn {
    width: 230px;
}

.add_planmeal,
.save_btn {
    padding: 1em 0;
    font-size: 14px;
    line-height: 1.714285714285714;
    cursor: pointer;
    color: #242424;
}

.icon_save {
    margin-right: 10px;
    display: inline-block;
}
.save {
    font-family: europa-boldregular, sans-serif;
    font-weight: 600;
}

.icon_save svg,
.rating_average,
.review_rating,
.step_header1 svg,
.step_header1 h3,
.step_header1 span {
    color: #f46708;
}
.save:hover {
    color: #f46708;
}

/* nutrition  */
.nutrition_wrapper,
.review_wrapper {
    margin: auto 105px;
}
.nutrition_wrapper h3 {
    margin: 0 0 28px;
    font-weight: bold;
}
.nutrition_title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 1.333333333333333;
    color: #242424;
}
.nutrition_info {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 1.714285714285714;
    color: #4a4a4a;

    /* vertical-align: baseline; */
}

.recipe_nutrition {
    font-size: 0.75rem;
    cursor: default;
    height: 140px;
}
.nutrition_total,
.nutrition_value,
.nutrition_value1,
.nutrition_value2,
.nutrition_value3,
.nutrition_value4,
.nutrition_value5 {
    top: 10px;
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 6em;
    margin-right: 33px;
    margin-bottom: 25px;
    text-align: center;
}
.nutrition_value5 {
    margin-right: 0px !important;
}

.nutrition_total {
    background: linear-gradient(to top, rgb(190, 218, 217) 25%, rgb(245, 245, 245) 25%);
}

.nutrition_value {
    background: linear-gradient(to top, rgb(228, 168, 168) 25%, rgb(253, 240, 240) 25%);
}
.nutrition_value1 {
    background: linear-gradient(to top, rgb(218, 190, 211) 25%, rgb(252, 232, 247) 25%);
}
.nutrition_value4 {
    background: linear-gradient(to top, rgb(236, 232, 122) 25%, rgb(250, 249, 217) 25%);
}
.nutrition_value2 {
    background: linear-gradient(to top, rgb(129, 221, 181) 25%, rgb(239, 255, 248) 25%);
}
.nutrition_value3 {
    background: linear-gradient(to top, rgb(242, 193, 147) 25%, rgb(255, 243, 231) 25%);
}
.nutrition_value5 {
    background: linear-gradient(to top, rgb(67, 252, 129) 25%, rgba(177, 255, 190, 0.657) 25%);
}
.value_nutrition {
    display: block;
    font-size: 26px;
    margin: 23px 0 3px;
    font-weight: 400;
    font-size: 24px;
    color: #4a4a4a;
}
.name_nutrition {
    text-transform: uppercase;
    font-size: 12px;
    color: #4a4a4a;
}

/* REVIEW  */

.review_wrapper {
    margin-top: 55px;
}
.review_wrapper h3 {
    display: inline-block;
    margin: 20px 0 0;
}

.reviews_h3 {
    font-size: 24px;
    line-height: 1.333333333333333;
    font-weight: bold;
}

.review_wrapper h3 span {
    padding-left: 0.5em;
    position: relative;
}

.count_review {
    font-size: 14px;
    line-height: 1.714285714285714;
    font-weight: inherit;
}

.rating_average {
    display: inline-block;
    margin: 12px auto;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.625;
    position: relative;
    left: 0.75em;
}

/* writing review  */
.write_reviews {
    z-index: 2;
    max-width: 100%;
    cursor: pointer;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    width: 100%;
    position: relative;
    margin: 2em 0;
    padding: 1em 0;
    transition: all 400ms ease;
}

.write_reviews img,
.avt_read_review img {
    height: 56px;
    width: 56px;
    object-fit: cover;
    border-radius: 50%;
    /* overflow-clip-margin: content-box; */
    overflow: clip;
}

.write_content {
    display: inline-block;
}

.name_account {
    height: 1.5em;
    overflow: hidden;
    transition: all 400ms ease;
    display: inline-block;
    font-family: europa-boldregular, sans-serif;
    font-weight: 400;
}

.rating span {
    color: #b8b6b6;
    margin-right: 5px;
}
bi-star-fill {
    color: #707070;
}
.rating {
    height: 1.5em;
    transition: all 400ms ease;
    font-size: 1.071428571428571em;
}

.write_content textarea {
    margin: -25px 19px;
}

.bnt_post {
    margin-top: 2em;
}

.post {
    background-color: #3a9691;
    color: #fff;
    height: 40px;
    padding: 0 32px;
    border-radius: 3em;
    font-size: 14px;
    padding: 11px 24px;
    font-weight: 600;
}
.cancle {
    background-color: transparent;
    color: #3a9691;
    margin-left: 15px;
}

.post:hover {
    background-color: #2d6663;
}

.review_text {
    margin-top: 14px;
    display: inline-block;
    width: 900px;
    min-height: 2em;
    /* background: #3a9691; */
    /* background: transparent; */
    border: none;
    outline: none;
    resize: none;
    color: #707070;
    transition: all 400ms ease;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.625;
    font-family: europa-regularregular, sans-serif;
    font-weight: 400;
}

/* READ review  */
.read_review {
    position: relative;
    margin: 2em 0;
    padding: 1em 0;
    transition: all 400ms ease;
}

.avt_read {
    display: inline-block;
    float: left;
    margin-right: 20px;
}

.review_content_cmt {
    padding-left: 10px;
}

.review_name {
    transition: all 400ms ease;
    /* display: inline-block; */
    font-size: 14px;
}
.time_review {
    font-size: 14px;
    line-height: 1.714285714285714;
}

.review_name span {
    margin-left: 0.5em;
    opacity: 0.5;
    transition: all 400ms ease;
}
.review_rating {
    transition: all 400ms ease;
    font-size: 1.071428571428571em;
}
.review_action {
    float: right;
    color: #363b3f;
    user-select: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    cursor: pointer;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
    margin-left: -100px;
}
.edit {
    cursor: pointer;
    color: var(--main-text-color) !important;
    margin: 10px auto;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    &:hover {
        background-color: #f7f7f7;
    }
}

.like_icon,
.spam_review {
    cursor: pointer;
    display: inline-block;
    transition: all 400ms ease;
    font-family: 'y-icon';
    font-style: normal;
    speak: none;
    font-weight: normal;
}

.count_line_cmt {
    margin-left: 0.5rem;
    font-size: 12px;
    // color: #707070;
}

.line_action {
    border-left: 1px solid #bababa;
    margin: 1em;
}

.show_review {
    margin-top: 14px;
    display: inline-block;
    width: 90%;
    min-height: 2em;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
    color: #707070;
    transition: all 400ms ease;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.625;
    font-family: europa-regularregular, sans-serif;
    font-weight: 400;
}

.emotion_review {
    color: #707070;
    margin: 10px 65px;
}

//RATING
.wrap {
    width: 250px;
    height: 50px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.stars {
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
}
.star {
    color: #91a6ff !important;
}
.rate {
    height: 50px;
    margin-left: -5px;
    padding: 5px;
    font-size: 25px;
    position: relative;
    cursor: pointer;
}
.rate input[type='radio'] {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    pointer-events: none;
}
.star-over::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 16px;
    content: '\f005';
    display: inline-block;
    color: #d3dcff;
    z-index: 1;
    position: absolute;
    top: 17px;
    left: 10px;
}

.rate:nth-child(1) .face::after {
    content: '\f119'; /* ☹ */
}
.rate:nth-child(2) .face::after {
    content: '\f11a'; /* 😐 */
}
.rate:nth-child(3) .face::after {
    content: '\f118'; /* 🙂 */
}
.rate:nth-child(4) .face::after {
    content: '\f580'; /* 😊 */
}
.rate:nth-child(5) .face::after {
    content: '\f59a'; /* 😄 */
}
.face {
    opacity: 0;
    position: absolute;
    width: 35px;
    height: 35px;
    background: #91a6ff;
    border-radius: 5px;
    top: -50px;
    left: 2px;
    transition: 0.2s;
    pointer-events: none;
}
.face::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f0dd';
    display: inline-block;
    color: #91a6ff;
    z-index: 1;
    position: absolute;
    left: 9px;
    bottom: -15px;
}
.face::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    display: inline-block;
    color: #fff;
    z-index: 1;
    position: absolute;
    left: 5px;
    top: -1px;
}

.rate:hover .face {
    opacity: 1;
}

.line-line {
    display: flex;
    justify-content: center;
}

//DE XUAT MON AN

.hint {
    margin-bottom: 20px;
}
.item-hint {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 70px;
}
.text-hint {
    margin: 48px 0 20px 106px;
    span {
        font-weight: 700;
        font-size: 17px;
    }
}
.blog_card {
    width: calc(28.33% - 10px);
    margin: 0 30px 20px 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.blog_card .blog_img {
    height: 225px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.blog_card .blog_img img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.blog_card .blog_tag .blog_date {
    width: 100%;
    color: #f46708;
    padding: 15px 0 0 20px;
    font-size: 14px;
}

.blog_card .blog_tag .blog_date i {
    margin-left: 8px;
    font-size: 14px;
    cursor: pointer;
}

.blog_card .blog_tag .blog_heading {
    padding: 0px 20px 5px;
    font-size: 18px;
}

.blog_card .blog_tag .blog_text {
    padding: 0 20px 10px 20px;
    text-align: justify;
    line-height: 21px;
}

.blog_card .blog_tag hr {
    width: 95%;
    margin: 0 auto;
    height: 1px;
    border: 0;
    background: #f46708;
    border-radius: 5px;
}

.blog_card .blog_tag .view_and_like {
    padding: 15px 20px 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog_card .blog_tag .view_and_like .view {
    display: flex;
    align-items: center;
}

.blog_card .blog_tag .view_and_like .view p {
    margin-right: 10px;
    font-size: 14px;
}

.blog_card .blog_tag .view_and_like .like {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.blog_card .blog_tag .view_and_like .like i {
    cursor: pointer;
    margin-left: 5px;
    margin-top: -14px;
}
.text {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
text h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
}

//responsive
@media (max-width: 62.5em) {
    .title_step {
        margin-top: 120px;
    }
}
