* {
    font-family: 'DM Sans', sans-serif;
}
.browse {
    width: 100%;
}

.right {
    overflow: hidden;
}

/* TOP  */
.top {
    position: absolute;
    margin: 35px 0;
    width: 100%;
}

.breadcrumb_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    max-width: 1360px;
    padding: 0 40px;
    margin: auto;
}

.breadcrumb {
    display: flex;
    width: auto;
    margin: 0;
    flex-shrink: 0;
    line-height: 1.1;
}

.breadcrumb span:not(:last-child) {
    margin-inline-end: 0.6875rem;
}

.breadcrumb_link a {
    /* border-bottom: none !important; */
    transition: all 0.1s linear;
}

.name_recipe {
    padding: 0 18px;
}
.name_recipe h1 {
    margin: 85px 20px 25px;
}

/* BAT DAU  */
.gird {
    width: 100%;
    text-align: center;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_top,
.card_top:hover .figcaption {
    width: 972px;
}

.card_top {
    margin: 0px 100px;
    min-width: 475px;
}
.gallery1 {
    margin: 15px 0 15px 2px;
}

.g_card,
.card_top {
    display: inline-block;
    /* position: relative; */
    border-radius: 5px;
    transition: 1000ms all;
    transform-origin: center;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    height: 325px;
}

.g_card {
    width: 476px;
    /* height: auto; */
    margin: 0px 9px;
}

.figure {
    /* display: inline-block; */
    position: relative;
}

.figure img {
    width: 100%;
    /* height: auto; */
    height: 325px;
    object-fit: cover;
    border-radius: 4px;
    overflow: clip;
}

.figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 176px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
}

.content_in {
    margin-top: -10px;
    color: white;
    font-size: 40px;
    /* opacity: 0; */
}

.content_in p {
    /* margin-top: -10px; */
    font-size: 20px;
}

.g_card:hover,
.card_top:hover {
    cursor: pointer;
    transform: scale(0.99);
}

.g_card:hover .figcaption,
.card_top:hover .figcaption {
    border-radius: 5px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(14, 14, 14, 0) 100%);
    display: flex;
}

// RECIPE FORM
.blog_card {
    // position: relative;
    margin: 0 auto;
    width: 275px;
    /* height: 475px; */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.blog_card .blog_img {
    height: 225px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.blog_card .blog_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog_card .blog_tag .blog_date {
    width: 100%;
    color: #f46708;
    padding: 15px 0 0 20px;
    font-size: 14px;
}

.blog_card .blog_tag .blog_date i {
    margin-left: 8px;
    font-size: 14px;
    cursor: pointer;
}

.blog_card .blog_tag .blog_heading {
    padding: 0px 20px 5px;
    font-size: 18px;
}

.blog_card .blog_tag .blog_text {
    padding: 0 20px 10px 20px;
    text-align: justify;
    line-height: 21px;
}

.blog_card .blog_tag hr {
    width: 95%;
    margin: 0 auto;
    height: 1px;
    border: 0;
    background: #f46708;
    border-radius: 5px;
}

.blog_card .blog_tag .view_and_like {
    padding: 15px 20px 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog_card .blog_tag .view_and_like .view {
    display: flex;
    align-items: center;
}

.blog_card .blog_tag .view_and_like .view p {
    margin-right: 10px;
    font-size: 14px;
}

.blog_card .blog_tag .view_and_like .like {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.blog_card .blog_tag .view_and_like .like i {
    cursor: pointer;
    margin-left: 5px;
    margin-top: -14px;
}

.loading {
    margin: 200px 0;
}
// ***********************

.text {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
text h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Responsive */

/* OUR BLOG  */
.blog {
    width: 100%;
    height: auto;
    padding: 30px 0;
}
.blog h1 {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
}

.blog h1 span,
.team h1 span {
    color: #f46708;
    font-family: mv boli;
    margin-left: 15px;
}

.blog h1 span::after,
.team h1 span::after {
    content: '';
    width: 100%;
    height: 2px;
    background: #f46708;
    display: block;
    position: relative;
    bottom: 15px;
}
.blog .blog_box {
    width: 95%;
    margin: 50px auto;
    // display: flex;
    grid-gap: 10px;
    // overflow-x: auto;
}
.filter-cate {
    // display: inline-block;
}
.li-get-all {
    height: 375px;
}

/* HET  */

/* Introduction of Recipe */

.summary {
    width: 100%;
    margin: 100px 0 30px;
}

.summary_contain {
    padding: 0px 40px;
    width: 100%;
}

.summary_title {
    font-size: 24px;
    margin: 0 auto 12px;
    cursor: pointer;
    text-transform: uppercase;
}

.summary_contain p,
.summary_add {
    text-align: justify;
    font-size: 18px;
    line-height: 1.666666666666667;
}

/* INGRS */
.cate_contain {
    margin-top: 5px;
    display: flex;
    margin-left: 20px;
}

.cate_gird h2 {
    margin-left: 15px;
    text-transform: uppercase;
}

.cate_img_block {
    margin-right: 4px;
    width: 100px;
    display: inline-block;
}

.cate_img_block a {
    height: 50px;
}
.cate_img img {
    overflow: clip;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-size: cover;
}

.cate_title {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    --current-line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-inline-end: 24px;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

.cate_title:hover {
    color: blue;
}

/* POPULAR INGREDIENTS */

.cate_contain {
    margin-top: 65px;
}

.cate_img_block {
    margin-top: 5px;
    margin-left: 18.5px;
    width: 143px;
    display: inline-block;
    /* background-color: #0561ee; */
}

/* NEW RECIPE  */
.recipe_card h2 {
    margin-left: 35px;
}

/* TOP ACCOUNT  */

.team {
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
}

.team h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    margin-bottom: 30px;
}

.name {
    margin-top: -20px;
}

.team .team_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 13%;
}

.team .team_box .profile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}

.team .team_box .profile:hover {
    border-radius: 20px;
    height: 270px;
}

.team .team_box .profile img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: 0.4s;
}

.team .team_box .profile:hover img {
    border-radius: 20px;
    margin-top: -230px;
}

.team .team_box .profile .info {
    position: absolute;
    text-align: center;
    top: 25%;
    transition: 0.4s;
}

.team .team_box .profile:hover .info {
    top: 60%;
}

.team .team_box .profile .info .name {
    color: #f46708;
    /* margin-bottom: 15px; */
}
.name {
    margin-top: -30px;
}

.team .team_box .profile .info .bio {
    width: 100%;
    display: flex;
    text-align: center;
    margin: 0 auto 5px auto;
    /* background-color: aqua; */
}

.team .team_box .profile .info .team_icon svg {
    margin: 0px 5px 5px 5px;
    cursor: pointer;
    transition: 0.3s;
}

.team .team_box .profile .info .team_icon svg:hover {
    color: #f46708;
}

//create RECIPE
.floating_button {
    opacity: 1;
    transform: scale(1);
    transition: opacity 400ms ease;
    height: auto;
    margin-top: 35px;
    /* position: absolute; */
    z-index: 2;
    right: 0;
    margin-right: 99px;
    position: fixed;
}
.save_button {
    position: relative;
}

.button_save_recipe {
    overflow: hidden;
    display: flex;
    border: none;
    transition: max-width 600ms ease;
    border-radius: 3em;
    margin-top: 88px;
    width: 56px;
    height: 56px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12), 0 0 1px rgba(0, 0, 0, 0.05) inset;
    padding: 0;
    color: #242424;
    background-color: #ffffff;
    cursor: pointer;
}
.icon_save {
    padding: 15px;
    transition: color 200ms ease;
    display: inline-block;
    .add-recipe-image {
        width: 32px;
        height: 32px;
        object-fit: cover;
        margin: -4px -2px 0px;
    }
}

.button_save_recipe:hover {
    transform: scale(1.1);
    transition: 200ms ease;
}
