*,
::after,
::before {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.home_body {
    display: flex;
    min-height: 100vh;
}

.home_container {
    padding: 0 25px 0 20px;
    overflow: hidden;
}

.home_gird {
    /* max-width: 1920px; */
    width: 89%;
    padding: 0;
    margin-left: 150px;
    overflow-x: hidden;
    /* background-color: rgb(163, 212, 255); */
}

/* slide */
.home_slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.slide_navigation button {
    font-family: 'Rubik', sans-serif;
    background-color: transparent;
    border: 1px solid white;
    color: inherit;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    height: 50px;
    transition: 0.5s ease;
}

.slide_navigation button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
}

.slide_container {
    position: relative;
    width: 1070px;
    height: 370px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #adadad;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #ffffff;
}

.slide_container .slide_content {
    width: 100%;
    display: flex;
}

.slide_introduce {
    position: relative;
    width: 40%;
    height: 100%;
    z-index: 20;
}

/* home content */
.home_content {
    margin-top: 70px;
    overflow: hidden;
    padding: 0 44px 74px;
}



/* /top trending article  */
.home_article {
    width: 100%;
    padding: 45px 30px 0 0;
    box-sizing: border-box;
}

.feature_article {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.small_lists_article {
    width: 44%;
    margin: auto 40px;
}

.article_news {
    color: #242424;
    margin-bottom: 10px;
    transition: color 400ms ease;
    font-weight: 700;
}

.small_feature_article {
    display: flex;
    margin-bottom: 34px;
}

.small_feature_article .img_wrapper img {
    width: 104px;
    height: 104px;
    border-radius: 4px;
    flex-basis: 104px;
    flex-shrink: 0;
    object-fit: cover;
}

.small_article_blurb {
    padding-left: 18px;
    padding-right: 16px;
}

.category_article {
    margin-top: 9px;
    margin-bottom: 6px;
    color: #bababa;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: europa-boldregular, sans-serif;
    font-weight: 700;
}

.article_title {
    color: #242424;
    margin-bottom: 10px;
    transition: color 400ms ease;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.625;
    font-family: europa-boldregular, sans-serif;
    font-weight: 700;
}

.article_hidden_description {
    width: 56%;
    height: 0;
    padding-bottom: 50%;
    display: block;
    position: relative;
    margin-bottom: 48px;
    border-radius: 4px;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 200ms ease;
}

.feature_article_image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.article_blurb {
    bottom: 0;
    right: 0;
    width: 91%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    position: absolute;
    background-color: #fff;
    padding: 48px 61px;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 460px;
}

.article_description {
    color: #707070;
    font-size: 16px;
    line-height: 1.625;
}

.feature_article2 {
    width: 97%;
    height: 0;
    padding-bottom: 50%;
    display: block;
    position: relative;
    margin-bottom: 48px;
    border-radius: 4px;
    margin-left: 31.5px;
}

.feature_article_image2 {
    position: absolute;
    top: 0;
    bottom: auto;
    left: auto;
    width: 100%;
    height: 95%;
    object-fit: cover;
    border-radius: 4px;
}

/* //phaanf cacs mon */
.gallery {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* ........ */
.content_show {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.content_show .box {
    width: 100%;
    position: relative;
}

.img_carousel {
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    transform: translate(0px, 0px);
    margin-left: 50px;
}

.img_carousel_item {
    display: list-item;
    width: 19%;
    list-style: none;
    padding: 2px;
    margin-left: 30px;
}

.img_carousel_item > div {
    height: 100%;
}

.recipe_card_info {
    padding-bottom: 0;
}

.card_in {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
}

.card_box_in {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 200px;
}

.recipe_card_img {
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    background-color: #ffffff;
}

.recipe_card_img:hover img {
    transform: scale(1.15);
}

.recipe_card_img img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    object-fit: cover;
}

.title_box {
    content: '';
    height: 140px;
    position: absolute;
    transform: translateY(50px);
    transition: 2s ease;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
    width: 104%;
    z-index: 1;
    border-radius: 5px;
}

.card_ingredients {
    z-index: 10;
    position: absolute;
    color: #fff;
    position: absolute;
    bottom: -10px;
    transform: translateY(50px);
    padding: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}

.recipe_card_img:hover .title_box,
.recipe_card_img:hover .card_ingredients {
    transform: translateY(0);
}

/* Duowis */

.card_info_wrapper {
    margin: 12px 0px;
    width: 100%;
    display: flex;
}

.card_name {
    color: rgb(36, 36, 36);
    display: inline-block;
    width: 80%;
}

.card_title {
    width: 80%;
    word-break: break-word;
    height: 80px;
}

.card_source {
    display: inline-block;
    text-overflow: ellipsis;
    text-transform: uppercase;
    width: 100%;
    padding: 0.5em 0.5em 0.5em 0px;
    overflow: hidden;
    transition: all 400ms ease 0s;
}

.card_source_link:hover {
   color: rgb(47, 183, 138);
}


.icon_stars{
    position: relative;
    display: inline-block;
}

.review_stars{
    cursor: pointer;
}

.icon_stars img{
    width: 27px;
    height: 27px;
}



.btn_save{
    border: none;
    background: none;
}

.card_save{
    width: 20%;
}
.card_box {
    position: relative;
    float: right;
}

.save_recipe {
    transform: rotateZ(0turn);
    color: rgb(212, 24, 24);
    transition: all 400ms ease 0s, transform 800ms ease 0s;
}

.save_recipe svg{
    color: rgb(36, 36, 36);
}




@media (min-width: 740px) and (max-width: 1023px) {
    .small_lists_article {
    }
    .article_hidden_description {
    }
}
