*,
::after,
::before {
    box-sizing: inherit;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 1px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home_body {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.home_container {
    width: 100%;
    padding: 0 5px;
    overflow: hidden;
}

/* slide */
.home_slideshow {
    display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background_slide {
    display: block;
}

.home_slideshow img {
    width: 100%;
    height: 430px;
    background-size: cover;
    object-fit: cover;
}

/* home content */
.home_content {
    overflow: hidden;
    padding: 44px 74px;
}

/* TOP RECIPE */

.recipe_contain_box {
    padding: 0 25px;
}
.img_carousel {
    display: flex;
    width: 100%;
    margin-left: -15px;
}

.img_carousel_item {
    position: relative;
    width: 390px;
    height: 370px;
    list-style: none;
    margin-left: 40px;
    border-radius: 10px;
    display: flex;
}

.img_carousel_item > div {
    height: 100%;
}

.card_box_in {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.recipe_card_img {
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}

.recipe_card_img:hover img {
    transform: scale(1.1);
}

.recipe_card_img img {
    border-radius: 4px;
    width: 100%;
    margin-top: 20px;
    transition: 0.5s ease;
    object-fit: cover;
}

/*  */

.card_info_wrapper {
    margin: 15px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_title {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.1;
    font-size: 25.5px;
    color: #1d1d1d;
    vertical-align: baseline;
}

.card_source {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_source_link {
    margin: 20px 0;
    color: #646464;
}

.card_source_link:hover {
    color: rgb(23, 37, 32);
}

/* WHAT'S NEW */
.home_wrapper,
.news_container {
    margin: 70px 0 75px 30px;
}

.home_article {
    width: 100%;
    box-sizing: border-box;
}

.feature_article {
    /* width: 100%; */
    display: flex;
    align-items: center;
}

.small_lists_article {
    /* width: 44%; */
    /* background-color: #707070; */
}

.article_news {
    color: #242424;
    margin-bottom: 20px;
    transition: color 400ms ease;
    font-weight: 700;
    text-transform: uppercase;
}

.small_feature_article {
    display: flex;
    margin-bottom: 34px;
}

.small_feature_article .img_wrapper img {
    width: 104px;
    height: 104px;
    border-radius: 4px;
    flex-basis: 104px;
    flex-shrink: 0;
    object-fit: cover;
}

.small_article_blurb {
    padding-left: 18px;
    padding-right: 16px;
}

.category_article {
    margin-top: 9px;
    margin-bottom: 6px;
    color: #bababa;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.article_title {
    color: #242424;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.625;
    font-weight: 700;
}

.article_left {
    width: 56%;
    background-color: aquamarine;
}
.article_hidden_description {
    height: 0;
    padding-bottom: 50%;
    display: block;
    position: relative;
    margin-bottom: 48px;
    border-radius: 4px;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 200ms ease;
}

.img_wrapper img {
    height: 380px;
}

.feature_article_image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.article_blurb {
    bottom: 0;
    right: 0;
    width: 91%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    position: absolute;
    background-color: #fff;
    padding: 48px 61px;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 460px;
}

.article_description {
    color: #707070;
    font-size: 16px;
    line-height: 1.625;
}

.feature_article2 {
    width: 97%;
    height: 0;
    padding-bottom: 50%;
    display: block;
    position: relative;
    margin-bottom: 48px;
    border-radius: 4px;
    margin-left: 31.5px;
}

.feature_article_image2 {
    position: absolute;
    top: 0;
    bottom: auto;
    left: auto;
    width: 100%;
    height: 95%;
    object-fit: cover;
    border-radius: 4px;
}

/* WHAT WE'RE CRAVING */

.recipe_card h2 {
    margin: 20px 40px;
    text-transform: uppercase;
}

.news_gird {
    text-align: center;
    width: 31%;
    display: inline-block;
    margin-left: 20px;
}
.news_element,
.news_element1,
.news_element2 {
    width: 100%;
    height: 588px;
    margin-left: -33px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
}

.news_element {
    --color-background-cards: #f4ede1;
    background-color: var(--color-background-cards);
}

.news_element1 {
    --color-background-cards: #f4e5e5;
    background-color: var(--color-background-cards);
}

.news_element2 {
    --color-background-cards: #e5edf1;
    background-color: var(--color-background-cards);
}

.news_card_img {
    padding-top: 100%;
    height: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.news_gird img {
    width: 370px;
    height: 300px;
    object-fit: cover;
    transition: transform 0.8s;
}

.news_gird:hover img {
    transform: scale(1.02);
}

.news_img_background {
    position: absolute;
    top: 35px;
    z-index: 0;
    overflow: hidden;
}

.news_card_bottom {
    display: block;
    padding-top: 25px;
}

.news_detail {
    /* background-color: transparent; */
    margin-top: 35px;
    padding: 13px 110px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 30px;
}
.news_detail:hover,
.btn_view:hover {
    color: white;
    background-color: #1d1d1d;
}

.news_cate {
    font-size: 15px;
    letter-spacing: 1px;
}

.news_title {
    margin-top: 20px;
    font-size: 36px;
    line-height: 34px;
}

/* EXPLORE MORE */

.cate_contain {
    margin-top: 5px;
    display: flex;
    margin-left: 20px;
}

.cate_gird h2 {
    margin-left: 12px;
    text-transform: uppercase;
}

.cate_img_block {
    margin: 25px 0 0 92px;
    width: 185px;
    display: inline-block;
}

.cate_img_block a {
    height: 50px;
}
.cate_img img {
    overflow: clip;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-size: cover;
}

.cate_title {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    --current-line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-inline-end: 24px;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

.cate_title:hover {
    color: blue;
}

.line {
    padding: 16px 0;
    background-color: #f2f2f2;
    width: 94%;
    margin: 45px 22px 0;
}

.contain_fullwidth {
    margin-top: 50px;
    max-width: 100%;
    padding: 0;
    display: flex;
}
.contain_fullwidth_card {
    background-color: #e1e0d7;
    width: 100%;
    height: 580px;
}

.text_image img {
    margin: 0px 255px;
    height: 350px;
    overflow: clip;
    background-size: cover;
}

.text_bottom h2,
.text_bottom a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.2;
}

.text_bottom h2 {
    margin-top: 45px;
    font-size: 50px;
}

.btn_view {
    padding: 15px 50px;
    border-radius: 30px;
    border: 1px solid gray;
    width: 12%;
    margin: 25px 535px;
}

/* ingredients  */
.ingredients {
    width: 100%;
    display: flex;
}

.ingredients h2 {
    text-transform: uppercase;
    margin: 60px 0px 20px 26px;
}

.ingredients_card {
    width: 171px;
    height: 222px;
    display: inline-block;
    border-radius: 10px;
    border: solid 1px #e1e1e1;
    margin-left: 25px;
}

.ingredients_img img {
    margin-top: 5px;
    margin-left: 5px;
    overflow: clip;
    width: 163x;
    height: 160px;
    background-size: cover;
    transition: transform 0.8s;
}

.ingredients_img:hover img {
    transform: scale(1.05);
}

.ingredients_img_card {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.ingredients_link {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TRENDING NOW  */
.content_show {
    display: flex;
    flex-wrap: wrap;
}

.content_show .box {
    width: 100%;
    position: relative;
}

/* MORE IDEAS */

.recipe_card {
    margin: 65px 0;
}

/* TOP ACCOUNT */
/* TOP LIKE  */
.top_like {
    display: flex;
}

.top_like_contain {
    width: 100%;
    height: 400px;
    background-color: aqua;
}

.advertisement {
    display: flex;
    justify-content: center;
    align-items: center;
}

.advertisement_container {
    width: 90%;
    height: 300px;
    background-color: #242424;
    border-radius: 10px;
}

.advertisement_gird {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.advertisement_box {
    display: inline-block;
    color: white;
    padding-top: 55px;
}

.name_h1 {
    margin-top: 15px;
    font-size: 60px;
}

.show_more {
    width: 200px;
    height: 55px;
    border-radius: 50px;
    border: solid 1px #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 33px;
}

/*Gallary*/

.gallary {
    width: 100%;
    padding: 70px 0;
}

.gallary h1 {
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallary h1 span {
    margin-left: 15px;
    color: #fac031;
    font-family: mv boli;
}

.gallary h1 span::after {
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    bottom: 15px;
}

.gallary .gallary_image_box {
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.gallary .gallary_image_box .gallary_image {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.gallary .gallary_image_box .gallary_image img {
    width: 100%;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover img {
    opacity: 0.4;
}

.gallary .gallary_image_box .gallary_image h3 {
    position: absolute;
    font-size: 35px;
    margin-bottom: 130px;
    color: #fac031;
    font-family: polo;
    z-index: 5;
    opacity: 0;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover h3 {
    opacity: 1;
}

.gallary .gallary_image_box .gallary_image p {
    position: absolute;
    width: 400px;
    margin-top: 30px;
    text-align: center;
    color: white;
    line-height: 22px;
    opacity: 0;
    z-index: 5;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover p {
    opacity: 1;
}

.gallary .gallary_image_box .gallary_image .gallary_btn {
    position: absolute;
    margin-top: 180px;
    color: #000;
    background: #fac031;
    padding: 7px 25px;
    text-decoration: none;
    opacity: 0;
    transform: translateY(45px);
    z-index: 5;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover .gallary_btn {
    opacity: 1;
    transform: translateY(0);
}

/*Review*/

.review {
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}

.review h1 {
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review h1 span {
    margin-left: 15px;
    color: #fac031;
    font-family: mv boli;
}

.review h1 span::after {
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    position: relative;
    bottom: 15px;
    display: block;
}

.review .review_box {
    width: 95%;
    margin: 70px auto;
    display: flex;
}

.review .review_box .review_card {
    width: 350px;
    height: 535px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 8px 20px;
    margin: 0 8px;
}

.review .review_box .review_card .review_profile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_profile {
    transform: translateY(-60px);
}

.review .review_box .review_card .review_profile img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 5px solid #cccccc;
}

.review .review_box .review_card .review_text {
    text-align: center;
}

.review .review_box .review_card .review_text .name {
    color: #000;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .name {
    transform: translateY(-50px);
}

.review .review_box .review_card .review_text .review_icon {
    color: #fac031;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .review_icon {
    transform: translateY(-30px);
}

.review .review_box .review_card .review_text .review_social svg {
    margin: 5px 1px;
    font-size: 15px;
    opacity: 0;
    cursor: pointer;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .review_social svg {
    opacity: 1;
    transform: translateY(-8px);
}

.review .review_box .review_card .review_text p {
    text-align: center;
    line-height: 22px;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text p {
    margin-top: 5px;
}
