@media (min-width: 1200px) {
    .row {
        max-width: 100%;
    }
}
.row {
background-color: #ffffff;
border-radius: 6px;
box-shadow: 0px 2px 10px 0px rgba(58, 53, 65, 0.1);
width: 100%;
// padding: 10px 1.5rem 0;
transition: padding 0.25s ease-in-out;
margin: 50px auto;
}
.page_title_box {
padding: 0 20px;
margin: 0 -27px 30px -27px;
}
.page_title_box .page_title {
font-size: 18px;
margin: 15px 0 -20px 35px;
margin-top: 15px;
line-height: 50px;
font-weight: 500;
color: #293229;
}
.border-table{
    background-color: #FFF;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 6px;
    background-image: none;
    width: 100%;
    overflow-x: auto;
    box-shadow: none;
    border-top-color: rgba(58, 53, 65, 0.12);
}
