.modalDeleteIdea {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: rgba(175, 167, 167, 0.4);
    z-index: 20;
}

.modalContentDeleteIdea {
    width: 630px;
    height: 500px;
    background-color: white;
    margin: auto;
    /* position: relative; */
    z-index: 1;
    border-radius: 7px;
    /* overflow-y: scroll;
    overflow-x: hidden; */
    overflow: auto;
}

.createIdeaHeader {
    position: sticky;
    height: 60px;
    background-color: #ffffff;
    border-radius: 7px 7px 0 0;
    border-bottom: 1px solid #d8e2ef;
    box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.createIdea {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}
.exit_cmt_modal {
    float: right;
    margin: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e4e6eb;
    cursor: pointer;
}

.exit_cmt_modal:hover {
    background-color: #cbced5;
}

.post_status {
    margin-bottom: 1rem;
    box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    /* position: relative; */
    /* display: flex; */
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 3px;
    /* overflow: auto;
    overflow: scroll; */
    /* overflow-y: scroll;
    overflow-x: hidden; */
}
.posts_footer:last-child {
    border-radius: 0 0 calc(0.375rem - 0px) calc(0.375rem - 0px);
    --falcon-bg-opacity: 1;
    /* background-color: rgba(var(--falcon-light-rgb), var(--falcon-bg-opacity)); */
    padding-top: 0;
    background: #f9fafd;
    padding: 1rem 1.25rem;
    color: #344050;
    border-top: 0 solid rgba(0, 0, 0, 0.125);
}

.total_like {
    border-color: rgba(237, 242, 249, 1);
    font-size: 0.8333333333rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d8e2ef;
}
.count_like {
    color: rgba(94, 110, 130, 1);
    margin-right: 0.25rem;
}

.emotion {
    text-align: center;
    font-weight: 600;
    font-size: 0.8333333333rem;
    padding: 16px 0;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #d8e2ef;
}

.emotion_item {
    flex: 0 0 auto;
    width: auto;
}

.emotion_gird {
    cursor: pointer;
    border-radius: 0.25rem;
    color: rgba(94, 110, 130, 1);
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.like_icon {
    margin-left: 0.25rem;
}

/* COMMENT  */
.write_comment {
    padding-top: 10px;
    border-color: rgba(237, 424, 249, 1);
    align-items: center;
    display: flex;
}

.avatar_comment {
    height: 2rem;
    width: 2rem;
    margin-left: 5px;
    position: relative;
    display: inline-block;
}

.circle_avt {
    object-fit: cover;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.input_cmt {
    border-radius: 50rem;
    font-size: 0.8333333333rem;
    margin-left: 0.5rem;
    display: block;
    width: 90%;
    padding: 0.3125rem 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #344050;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d8e2ef;
    appearance: none;
    /* border-radius: 0.25rem; */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.read_cmt {
    flex: 1;
    font-size: 0.8333333333rem;
    margin-left: 10px;
    margin-top: -10px;
}

.content_cmt {
    border-radius: 0.375rem;
    background-color: rgba(237, 242, 249, 1);
    padding: 0.5rem;
    width: 100%;
    /* margin-bottom: 0.25rem; */
    /* margin-top: 0;  */
}

.read_comment {
    display: flex;
    margin: 15px 0px;
}

.read_cmt p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 5px;
}

.name_account_cmt {
    font-weight: 600;
    color: #2c7be5;
}

.view_cmt {
    margin-left: 0.25rem;
}

.reply_comment {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.reply_comment a,
.show_name a,
.name_adver a {
    color: #2162b6;
}

.reply_comment a:hover,
.show_name a:hover,
.name_adver a:hover {
    text-decoration: underline;
    color: #2c7be5;
}

.createIdeaFooter {
    /* z-index: 200; */
    /* position: absolute; */
    bottom: 0;
    left: 0;
    /* Đặt vị trí ở bên trái */
    /* position: sticky; */
    height: 60px;
    width: 630px;
    padding-bottom: 5px;
    background-color: #ffffff;
    border-radius: 0px 0x 7px 7px;
    border-top: 1px solid #d8e2ef;
    box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}
