.modalDeleteIdea {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: rgba(175, 167, 167, 0.4);
    z-index: 20;
}

.modalContentDeleteIdea {
    width: 320px;
    height: 330px;
    background-color: rgb(253, 235, 235);
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    text-align: center;
}

.imgResponsive {
    max-width: 20%;
    margin: 25px;
}

.containerDelete {
    padding: 0 15px 5px;
}

.contextDeleteIdea {
    margin: 8px 12px 28px;
    /* padding:5px 5px 35px ; */
}

.btn_delete,.btn_cancle {
    padding: 9px 20px;
    border-radius: 4px;
    margin: 0px 8px;
    text-align: center;
}

.btn_delete{
    background-color: #dc4f45;
    color: #fff;
}

.btn_cancle{
    background-color: #ccc;
    text-align: center;
}

.btn_delete:hover{
    background-color: #f44336;
}

.btn_cancle:hover{
    background-color: #c3bcbc;
}

