.light-mode {
  background-color: var(--main-background-light) !important;
  color: var(--main-text-color);
}

.dark-mode {
  background-color: var(--main-background-dark);
  color: var(--main-text-dark);
}

.superNav {
  font-size: 13px;
}

//show thong bao

.nav-item-show {
  margin: 0 7px;
}
.search-mobile {
  display: none;
}
.notification {
  text-decoration: none;
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--main-background-website);
  color: var(--main-text-website);
}

.notification:hover {
  background-color: var(--main-text-website);
  color: white;
}

.notification .badge {
  position: absolute;
  top: 2px;
  right: 5px;
  padding: 6px 6px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 9px;
}
.count-number {
  position: absolute;
  font-size: 8px;
  margin: -7px 0 0 -5.5px;
}

//het

.avatar-header {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-container {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  // min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  width: 160px;
  margin-left: -60px;
  margin-top: 10px;
}

.avatar-container:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.form-control {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  border: var(--bs-border-width) solid var(--bs-border-color);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
}

.logo-text {
  color: var(--main-text-website);
  font-family: mv boli;
  font-size: 20px;
}
.header-ads {
  position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.navbar-collapse {
  flex-grow: 1;
  align-items: center;
  display: flex;
}

//search
.search-result {
}
.search-title {
  padding: 5px 12px;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
  font-size: 1.4rem;
}

//SHOW MESSAGE
.notification-popup {
  margin-top: 6px;
  width: 330px;
  max-height: 450px;
  overflow-y: auto;
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: #fff;
  box-shadow: 0 12px 28px 0 var(--shadow-1), 0 2px 4px 0 var(--shadow-1);
  --shadow-1: rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 20000;
  border-radius: 5px;
  box-shadow: #ccc;
  .header-info {
    margin-left: 7px;
    font-weight: 700;
    font-size: 19px;
    margin-top: 7px;
  }
  .input-group-chat {
    margin: 18px 5px 12px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    .search-chat {
      border-radius: 40px;
      padding: 5px 10px;
      width: 290px;
      // border: 2px solid #ccc;
      border: none;
      background-color: #e7e7e7;
    }
  }
  li {
    border-radius: 5px;
    &:hover {
      background-color: #f9fafd;
    }
  }
  .article {
    margin: 15px 0px 6px 8px;
  }
}
.time-chat {
  margin-right: 13px;
  font-size: 13px;
}
.show-message:hover {
  color: black;
}
.nav-item-li {
  flex: 1;
}
.article ul button.active {
  color: #00f; /* Thay đổi màu sắc tùy ý */
}

.notification-popup-profile {
  // margin-top: 6px;
  width: 225px;
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: #fff;
  box-shadow: 0 12px 28px 0 var(--shadow-1), 0 2px 4px 0 var(--shadow-1);
  --shadow-1: rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 20000;
  border-radius: 5px;
  box-shadow: #ccc;
  .info {
    height: 55px;
    &:hover {
      background-color: #f9fafd;
    }
  }
  .info1 {
    padding-top: 4px;
    height: 45px;
    &:hover {
      background-color: #f9fafd;
    }
    .icon {
      margin-top: 3px;
      margin-left: 5px;
      svg {
      }
    }
  }
  .info1:not(:last-child) {
    margin-top: 10px;
  }
}
.nav-link {
  position: relative;
  display: inline-block;
}

//SEARCH
.wrapper {
  margin-top: 5px;
  display: flex;
  align-items: center;
  padding: 5px 16px;
  cursor: pointer;
  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.info {
  flex: 1;
  margin-left: 12px;
}
.name {
  font-size: 1.6rem;
  font-weight: 600;
}
.username {
  font-size: 1.4rem;
  color: rgba(22, 24, 25, 0.5);
}

.title-history {
  margin: 10px 0 0 20px;
}

//home article, recipe plan
.center-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}
.nav-item {
  margin: 0 7px;
}
//history
.show-history {
  margin: 4px 0 0 0px;
  width: 100%;
  height: 27px;

  padding: 0 20px;
  cursor: pointer;
}
.font-text {
  font-weight: 600;
}

.show-history:hover {
  background-color: rgba(22, 24, 35, 0.03);
}

.search-result {
  z-index: 100000;
}
.background-body {
  background-color: var(--main-background-light);
}
.menu-mobile {
  display: none;
}

//responsive
.button-menu-mobile {
  border: none;
  display: none;
  height: 58px;
  line-height: 45px;
  background-color: transparent;
}

// sidebar_menu
.left_side_menu {
  bottom: 0;
  padding: 20px 0;
  position: fixed;
  overflow: auto;
  top: 57px;
  z-index: 10;
  background-color: #ffffff;
  width: 240px;
  max-width: 100%;
  background-image: linear-gradient(195deg, #ffffff, #ffffff);
  border-radius: 2px;
  transform: translateX(-106%);
  opacity: 0;
  transition: transform linear 0.2s, opacity linear 0.2s;
  display: none;
}
.slimscroll_menu {
  overflow: auto;
  width: auto;
}
.metismenu {
  padding: 0;
}

.menu_title {
  padding: 10px 20px;
  letter-spacing: 0.05em;
  pointer-events: none;
  cursor: default;
  text-transform: uppercase;
  font-weight: 600;
}
.metismenu li {
  list-style: none;
}
.sidebar_menu > ul > li > a.active {
  border-radius: 5px;
  margin: 5px 0 0px -5px;
}
.sidebar_menu > ul > li > a {
  display: block;
  padding: 15px 30px;
  position: relative;
  transition: all 0.4s;
  font-size: 15px;
}
.sidebar_menu > ul > li > a i {
  display: inline-block;
  line-height: 1.0625rem;
  margin: 0 10px 0 3px;
  text-align: center;
  vertical-align: middle;
  width: 20px;
  font-size: 16px;
}

.active-search-mobile {
  margin: 21px 0 0 25px;
}
.active {
  svg {
    margin: -5px 11px 0 0px;
  }
}
.active:hover {
  background-color: var(--main-background-website);
  color: var(--main-text-website);
}
.active:focus,
.active:active {
  background-color: var(--main-text-website);
  color: white;
}
.dropdown-content li a:hover {
  color: #3c86d8;
}

.overlaySidebar {
  // pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  animation: fadeIn linear 0.2s;
  z-index: 10;
}
.navbarInput:checked ~ .overlaySidebar {
  display: block;
}
.navbarInput:checked ~ .left_side_menu {
  transform: translateX(0);
  opacity: 1;
}
.sidebarClose {
  margin-top: -43px;
  font-size: 1.4rem;
  color: #666;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: right;
  display: none;
}
.sidebarClose:hover {
  background-color: #292e32;
}

//RÉPONSIVE
@media screen and (max-width: 62em) {
  .center-nav,
  .search-action {
    display: none;
  }
  .search-mobile {
    display: block;
  }
  .menu-mobile {
    display: block;
    font-weight: bold;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--main-background-website);
    color: var(--main-text-website);
    cursor: pointer;
    &:hover {
      background-color: var(--main-text-website);
      color: white;
    }
    svg {
      cursor: pointer;
      margin: 6px 0 0 6px;
    }
  }
  .button-menu-mobile {
    display: block;
  }
  .sidebarListAvt,
  .sidebarClose,
  .line {
    display: block;
  }
  .button-menu-mobile {
    display: inline-block;
  }

  .left_side_menu {
    display: block;
  }
  .logo-respon {
    display: flex;
    align-items: center;
    margin: 0px 21px !important;
    img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
  }
}

@media (min-width: 48em) {
}
