.form-control-search {
  border-color: transparent;
  width: 99%;
  padding: 0.375rem 0.75rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: none;
}
#list1 .form-control:focus {
  border-color: transparent;
  box-shadow: none;
}
#list1 .select-input.form-control[readonly]:not([disabled]) {
  background-color: #fbfbfb;
}
.contain-plan {
  padding: 11rem 7rem 0;
}
.card-body {
  flex: 1 1 auto;
  padding: 0.5rem 1rem;
}
.btn-add {
  width: 68px;
  height: 34px;
  font-size: 15px;
}
.input-allergy {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.175);
  height: 35px;
  padding: 0 10px;
}
.font-text {
  font-size: 17px;
}
.show-allergy {
  height: 31px;
  padding: 7px;
  background-color: rgba(91, 91, 91, 1) !important;
  display: inline-block;
  border-radius: 5px;
  line-height: 1;
  color: #fff;
  text-align: center;
  vertical-align: baseline;
}
.search-result {
  margin: 5px 0 0 0px;
  .show-search {
    margin-top: 15px;
    .show-item {
      margin: 5px -21px;
      cursor: pointer;
      padding: auto 32px;
      height: 37px;
      width: 103%;
      border-radius: 4px;
      // background-color: wheat;
      &:hover {
        background-color: wheat;
      }
      .show-recipe {
        padding: 5px 20px;
      }
    }
  }
}

.header {
  width: 100%;
  height: 230px;
  .left {
    width: 50%;
  }
  .right {
    width: 50%;
    .card-right {
      height: 290px;
      justify-content: center;
      text-align: center;
      p {
      }
    }
  }
}
.displayed-recipes-container {
  display: flex;
  flex-wrap: wrap;
  padding: 7px 25px 0;
  gap: 10px;
  overflow: auto;
}

.displayed-recipe {
  cursor: pointer;
  height: 37px;
  padding: 0px 0 0 11px;
  min-width: 205px;
}

//body
.body-box {
  margin: 20px 0 0 0px;
  width: 100%;
  position: relative;
  padding: 0 75px;
}
.body-gird {
  background-color: aqua;
  width: 30%;
}

.card-item {
}

.item {
}

.body-header {
  display: flex;
  text-align: center;
  .choose-day-meal {
  }
  .input-serving {
    border: none;
    margin: 0 0 0 8px;
    width: 40px;
  }
}
.body-item {
  //   height: 300px;
  border-radius: 3px;
  border: 1px solid gray;
}
.show-day {
  display: flex;
  align-items: center;
  p {
    text-transform: uppercase;
    margin: 0px 0 0 6px;
  }
}
.show-date {
}
.show-breakfast {
  .meals {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
  }
}

.show-nutrion {
  .nutrion {
    text-transform: uppercase;
  }
}
