.plan_meal_contain {
    position: relative;
}

.plan_header_wrapper {
    text-align: center;
    position: relative;
}

.plan_header_wrapper img {
    width: 100%;
    height: auto;
}

.plan_header_text {
    position: absolute;
    top: 0;
}
.plan_header_text h1 {
    color: #1d1d1d;
    font-family: mv boli;
    font-weight: 700;
    font-size: 30px;
    margin-top: 40px;
}
.plan_header_text p {
    /* color: #3b3a3a;   */
    color: #ffffff;
    margin: 25px 300px;
}

/* CREATE AUTO PLAN  */
.create_auto_plan {
    display: grid;
    grid-template-columns: 70% 30%;
    // margin-top: 35px;có ảnh
    margin: 50px 0 50px;
}

.plan_left {
    width: 889px;
}
.plan_wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.automatic_plan:not(:last-child) {
    margin-right: 75px;
}
.automatic_plan,
.manual_plan {
    position: relative;
    display: flex;
    flex-direction: column;
    /* word-wrap: break-word; */
    /* background-clip: border-box; */
    width: 320px;
    align-items: center;
    padding: 10px 33px 32px;
    border-radius: 12px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.07);
    cursor: pointer;
    border: 2px solid #f2f2f2;
}
.automatic_plan:hover {
    border: 2px solid #f46708;
}
.manual_plan:hover {
    border: 2px solid #639ce7;
}

.title_wrapper {
    display: flex;
    flex-direction: column;
}
.img_plan img {
    width: 120px;
    height: 120px;
}
.text_wrapper {
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #000;
    margin-bottom: 8px;
}
.subtitle {
    font-size: 14px;
    line-height: 1.57;
    text-align: center;
    color: #1b1e35;
    margin-bottom: 18px;
}
.intro_text {
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: #a1a3b4;
    margin-bottom: 24px;
    display: flex;
}
.choose_btn,
.choose_btn1 {
    border-radius: 16px;
    padding: 12px 32px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    margin-top: auto;
}

.choose_btn {
    background-color: #f46708;
}

.choose_btn1 {
    background-color: #3f91fd;
}

.choose_btn:hover {
    background-color: #fac031;
}

.choose_btn1:hover {
    background-color: #6398dc;
}

/* PHAI  */
.meal_suggestions {
    width: 285px;
    height: 435px;
    border-radius: 10px;
    background-color: #f8f9fa;
}
.meal_suggestions img {
    width: 280px;
    border-radius: 10px;
    margin: 2px 0 20px 2.5px;
    height: 147px;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
}
.suggestions_item {
    padding: 5px 20px;
}
.suggestions_item p {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
    line-height: 30px;
}
.suggestions_item p img {
    width: 20px;
    height: 20px;
    left: -7px;
    top: 2px;
    position: absolute;
}

.suggestions_item p a {
    padding-left: 0;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    text-decoration: none;
    font-size: 16px;
}
.item {
    font-weight: 400;
}

//qung cao
.advertisement {
    display: flex;
    justify-content: center;
    align-items: center;
}

.advertisement_container {
    width: 93%;
    height: 300px;
    background-color: #242424;
    border-radius: 10px;
    margin: 60px 0 0;
}

.advertisement_gird {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.advertisement_box {
    display: inline-block;
    text-align: center;
    color: white;
    padding-top: 55px;
}

.name_h1 {
    margin-top: 15px;
    margin-bottom: 48px;
    font-size: 60px;
}

.show_more {
    border-radius: 50px;
    border: solid 1px #e1e1e1;
    margin-top: 33px;
    padding: 15px 25px;
}
