body {
    padding-bottom: 60px;
    overflow-x: hidden;
}
#wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.navbar_custom {
    /* background: $bg-topbar-gradient; */
    background: linear-gradient(to top, #5d6dc3, #3c86d8);
    box-shadow: 0 0 2px 0 rgba(30, 30, 30, 0.15);
    padding: 0 10px 0 0;
    position: fixed;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 100;
}
.list_unstyled {
    margin-bottom: 0 !important;
    float: right !important;
    padding-left: 0;
    list-style: none;
}
.list_unstyled .nav-link {
    padding: 0 15px;
    /* color: rgba($white, 0.6); */
    min-width: 32px;
    display: block;
    /* line-height: $topbar-height; */
    text-align: center;
    /* max-height: $topbar-height; */
}
.list_unstyled > li {
    float: left;
}
.notification_list {
    margin-left: 0;
    position: relative;
}
.nav_link {
    padding: 0 15px;
    color: rgba(255, 255, 255, 0.6);
    min-width: 32px;
    line-height: 70px;
    text-align: center;
    max-height: 70px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
}
a {
    text-decoration: none;
    background-color: transparent;
}
.nav-link a {
    font-size: 21px;
    vertical-align: middle;
}

.dropdown_menu_right {
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(51px, 70px, 0px);

    bottom: auto;
    width: 320px;
    right: 0 !important;
    left: auto !important;
    box-shadow: 0 0 2px 0 rgba(30, 30, 30, 0.15);
    animation-duration: 0.3s;
    animation-fill-mode: both;
    margin: 0;
    font-size: 0.875rem;
    z-index: 1000;

    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.25rem 0;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #343b40;
    background-clip: padding-box;
    border: 1px solid #394046;
    border-radius: 0.25rem;
}
.dropdown_item {
    background-color: #343b40;
    padding: 15px 20px;
    color: #ced4da;

    display: block;
    width: 100%;
    /* padding: .45rem 1.2rem; */
    clear: both;
    font-weight: 400;
    /* color: #e6e6e6; */
    text-align: inherit;
    white-space: nowrap;
    /* background-color: transparent; */
    border: 0;
}

.dropdown_item h5 {
    font-weight: 500;
    font-family: Roboto, sans-serif;
    font-size: 0.9375rem;
    line-height: 1.1;
}
.float_right {
    float: right !important;
}
.text_dark {
    color: #ced4da !important;
}
small {
    font-size: 0.75rem;
    font-weight: 400;
}
.noti_scroll {
    overflow: hidden;
    width: auto;
    height: 522.459px;
    max-height: 230px;
}
.notify_item {
    padding: 12px 20px;
    color: #ced4da !important;
    display: block;
    width: 100%;
    /* padding: .45rem 1.2rem; */
    clear: both;
    font-weight: 400;
    /* color: #e6e6e6; */
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.notify_icon {
    float: left;
    height: 36px;
    width: 36px;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    margin-top: 4px;
    margin-right: 10px;
    border-radius: 50%;
    color: #fff;
}
.notify_details {
    margin-bottom: 5px;
    overflow: hidden;
    margin-left: 45px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #f7f7f7;
    font-weight: 500;
}
p {
    line-height: 1.8;
    margin-top: 0;
}
.text_muted {
    color: #adb5bd !important;
    display: block;
}
.view_all {
    padding: 12px 20px;
    color: #ced4da !important;
    text-align: center !important;
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.notification_list_show {
    margin-left: 0;
    position: relative;
}
.nav_link_dropdown_toggle {
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.6);
    min-width: 32px;
    display: block;
    line-height: 70px;
    text-align: center;
    max-height: 70px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0 12px !important;
    margin-right: 0 !important;
    white-space: nowrap;
}
.nav_link_dropdown_toggle img {
    height: 32px;
    width: 32px;
}
.rounded_circle {
    border-radius: 50% !important;
}
img {
    vertical-align: middle;
    border-style: none;
}
.mi_1 {
    margin-left: 0.375rem;
}
.nav-link a {
    font-size: 21px;
    vertical-align: middle;
}
/* LOGO  */
.logo_box {
    height: 70px;
    width: 240px;
    float: left;
}
.logo_center {
    display: block;
    line-height: 70px;
    text-align: center !important;
}
.logo_center span.logo_lg {
    display: block;
}
.list_unstyled {
    margin: 0 !important;
    padding-left: 0;
    list-style: none;
}
.navbar_custom .list_unstyled > li {
    float: left;
}
.button_menu_mobile {
    border: none;
    color: #fff;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    width: 60px;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
button {
    text-transform: none;
}
/* search  */
.list_unstyled_search {
    padding-left: 0;
    list-style: none;
}
.navbar_custom .list_unstyled_search > li {
    float: left;
}
@media (min-width: 567px) {
    .d_none {
        display: block !important;
    }
}
.app_search {
    overflow: hidden;
    height: 70px;
    display: table;
    max-width: 200px;
    margin-right: 20px;
}
.app_search_box {
    display: table-cell;
    vertical-align: middle;
}
.input_group {
    position: relative;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    align-items: stretch;
    width: 100%;
}
.navbar_custom .app_search .form_control {
    border: none;
    height: 38px;
    padding-left: 20px;
    padding-right: 0;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.07);
    box-shadow: none;
    border-radius: 30px 0 0 30px;
}
.form_control {
    display: block;
    padding: 0.45rem 0.9rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.input_group > .form_control {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.input_group_append {
    margin-left: 0;
    z-index: 4;
    display: flex;
}
.navbar_custom .app_search .btn {
    background-color: rgba(255, 255, 255, 0.07);
    color: #fff;
    border-color: transparent;
    border-radius: 0 30px 30px 0;
    box-shadow: none !important;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.45rem 0.9rem;
    font-size: 0.875rem;
    line-height: 1.5;
}

/* Left Sidebar Start */
.left_side_menu {
    width: 240px;
    background: #292e32;
    bottom: 0;
    padding: 20px 0;
    position: fixed;
    /* -webkit-transition: all .2s ease-out; */
    transition: all 0.2s ease-out;
    top: 70px;
    /* -webkit-box-shadow: 0 0 2px 0 rgba(30,30,30,.15); */
    box-shadow: 0 0 2px 0 rgba(30, 30, 30, 0.15);
    z-index: 10;
}
.slimscroll_menu {
    overflow: hidden;
    width: auto;
    /* height: 130px; */
}
.metismenu {
    padding: 0;
}
.menu_title {
    padding: 10px 20px;
    letter-spacing: 0.05em;
    pointer-events: none;
    cursor: default;
    font-size: 0.6875rem;
    text-transform: uppercase;
    color: #ababab;
    font-weight: 600;
}
.metismenu li {
    list-style: none;
}
.sidebar_menu > ul > li > a.active {
    color: #e6e6e6;
    background: #32383d;
}
.sidebar_menu > ul > li > a {
    color: #ababab;
    display: block;
    padding: 13px 20px;
    position: relative;
    /* -webkit-transition: all .4s; */
    transition: all 0.4s;
    /* font-family: Roboto,sans-serif; */
    font-size: 15px;
}
.sidebar_menu > ul > li > a i {
    display: inline-block;
    line-height: 1.0625rem;
    margin: 0 10px 0 3px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    font-size: 16px;
}
.sidebar_menu .badge_danger {
    margin-top: 4px;
}
.sidebar_menu > ul > li > a > span {
    vertical-align: middle;
}
.badge_danger {
    color: #fff;
    font-family: Roboto, sans-serif;
    float: right !important;
    background-color: #f36270;
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
}
.sidebar_menu .menu_arrow {
    transition: transform 0.15s, -webkit-transform 0.15s;
    position: absolute;
    right: 20px;
    display: inline-block;
    font-family: 'Material Design Icons';
    text-rendering: auto;
    line-height: 1.5rem;
    font-size: 1.1rem;
    transform: translate(0, 0);
}
.sidebar_menu > ul > li > ul {
    padding-left: 37px;
}
/* .metismenu .nav_second_level:not(.metismenu) {
    display: none;
} */
.metismenu ul {
    padding: 0;
}
.metismenu ul li {
    width: 100%;
}
.nav_second_level li a {
    padding: 8px 20px;
    color: #ababab;
    display: block;
    position: relative;
    /* -webkit-transition: all 0.4s; */
    transition: all 0.4s;
}

