.modalDeleteIdea {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: rgba(175, 167, 167, 0.4);
    z-index: 2000000;
}
.modalContentDeleteIdea {
    width: 500px;
    height: 450px;
    background-color: white;
    margin: auto;
    z-index: 1;
    border-radius: 7px;
}
.createIdeaHeader {
    position: sticky;
    background:  #6ca5e7;
    height: 70px;
    border-radius: 7px 7px 0 0;
    border-bottom: 1px solid #d8e2ef;
}

.createIdea {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #ffffff;
}
.exit_cmt_modal {
    float: right;
    margin: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #686a6b;
    cursor: pointer;
}

.exit_cmt_modal:hover {
    background-color:#292e32;
}

.change-form-control{
    display: block;
    width: 80%;
    padding: 1.5rem 1.5rem;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 30px auto;
}
.change-password{
    border: none;
    background:  #6ca5e7;
    color: #ffffff;
    font-weight: 500;
    // font-size: 18px;
}
.change-password:hover{
    background:  #479bfc;
}