.modalDeleteIdea {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: rgba(175, 167, 167, 0.4);
    z-index: 2000000;
}

.modalContentDeleteIdea {
    width: 500px;
    height: 500px;
    background-color: white;
    margin: auto;
    z-index: 1;
    border-radius: 7px;
}

.createIdeaHeader {
    position: sticky;
    background-color: rgba(249, 250, 253, 1);
    height: 70px;
    /* background-color: #ffffff; */
    border-radius: 7px 7px 0 0;
    border-bottom: 1px solid #d8e2ef;
    /* box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07); */
}

.createIdea {
    /* background-color: rgba(249, 250, 253, 1); */
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    color: var(--main-text-color);
}
.exit_cmt_modal {
    float: right;
    margin: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #cbced5;
    cursor: pointer;
}
.exit_cmt_modal:hover {
    background-color: #a5a5a5;
}
.post_status {
    margin-bottom: 1rem;
    /* box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07); */
    position: relative;
    display: flex;
    flex-direction: column;
    /* min-width: 0; */
    word-wrap: break-word;
    /* background-color: #fff; */
    background-clip: border-box;
    /* border: 0px solid rgba(0, 0, 0, 0.125); */
    /* border-radius: calc(0.375rem - 0px); */
}

.post_hearer:first-child {
    border-radius: 7px 7px 0 0;
    border-bottom: 1px solid #d8e2ef;
}
.post_hearer {
    /* background-color: rgba(249, 250, 253, 1); */
    padding: 1rem 1.25rem;
    margin-bottom: 0;
    /* border-bottom: 0 solid var(0, 0, 0, 0.125); */
}

.header_item {
    display: flex;
    align-items: center;
}
.header_avatar {
    position: relative;
    display: inline-block;
}

.circle_avt {
    object-fit: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.post_create {
    flex: 1;
    margin-left: 0.5rem;
}

.create_post {
    font-size: 1rem;
    margin-bottom: 0;
    input {
        border: none;
        padding: 0 5px;
        font-size: 15px;
    }
}

h5 {
    margin-top: 0;
    line-height: 1.2;
    color: #344050;
}
/* post bai  */
.post_body:first-child {
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

.post_body {
    padding: 0;
    flex: 1 1 auto;
}
.display-img-text {
    width: 100%;
    height: 200px;
    overflow-y: auto;
}
.show-files {
    display: block;
    margin: 0 80px;
    // display: flex; /* Sử dụng một container dạng flexbox */
    // flex-direction: column; /* Đặt hướng hiển thị thành dọc (mỗi phần tử nằm trên dưới) */
    align-items: center; /* Căn chỉnh theo chiều ngang vào giữa */
    // justify-content: center; /* Căn chỉnh theo chiều dọc vào giữa */
    // height: 100%; /* Đảm bảo thẻ cha (container) có chiều cao 100% */
    img,
    .video-show {
        width: 330px;
        height: 220px;
        border-radius: 5px;
        object-fit: cover;
        margin: 18px 0;
    }

    .file-item {
        position: relative;
        display: inline-block;
        margin: 10px;
        .remove-button {
            position: absolute;
            top: 5px;
            right: 5px;
            z-index: 1;
            margin: 7px -16px 4px 7px;
            svg {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                &:hover {
                    background-color: #b0bccf;
                }
            }
        }
    }
}

.textarea_post {
    height: auto;
    min-height: calc(1.5em + 0.625rem + 2px);
    resize: none;
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: none;
    padding: 10px 15px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.post_image {
    padding-bottom: 1rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    /* padding-top:1rem ; */
    margin-top: 1rem;
    justify-content: space-between;
    display: flex;
    border-top: 1px solid #d8e2ef;
    border-bottom: 1px solid #d8e2ef;
}

.post_img_left {
    flex: 1 0 0%;
    margin-top: 10px;
}

.btn_img {
    background-color: #f9fafd;
    border-radius: 50rem;
    font-size: 0.8333333333rem;
    margin-right: 15px;
    margin-bottom: 0;
    align-items: center;
    display: inline-flex;
    padding: 5px 10px;
}
.btn_img:hover {
    background-color: #b0bccf;
}

.btn_img img {
    width: 17px;
    height: 17px;
}

.post_img {
    margin-left: 5px;
    display: inline-block;
    cursor: pointer;
}

.post_share {
    flex: 0 0 auto;
    width: auto;
}

.post_public {
    margin-right: 0.25rem;
    display: inline-block;
    position: relative;
}

.drop_public svg {
    color: #363636;
}

/* COndition  */
.condition {
    font-size: 14px;
    padding: 15px;
    label {
        font-size: 14px;
        color: var(--main-text-color);
    }
}

.linkCondition {
    margin-left: 5px;
    color: #2c7be5;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

.linkCondition:hover {
    text-decoration: underline;
}

/* Footer  */
.create_footer {
    /* margin-top: 5px; */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.btn_post_share {
    color: #fff;
    padding: 7px 215px;
    border-radius: 3px;
    background-color: #2c7be5;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btn_post_share:hover {
    background-color: #195eb8;
}

//create cate
.modalCreateCategory {
    width: 500px;
    height: 500px;
    background-color: white;
    margin: auto;
    z-index: 1;
    border-radius: 7px;
}
.body-cate {
    padding: 3rem 2rem 0;
    font-size: 16px;
}
.dropzone {
    position: relative;
    border: 0;
    border-radius: 0.5rem;
    min-height: auto;
    text-align: center;
    cursor: pointer;
}
.dz-message {
    padding: 1rem 0rem;
    border: 1px dashed #cbd0dd;
    border-radius: 0.5rem;
    background-color: #f5f7fa;
    margin-top: 20px;
}
.dz-message-text {
    color: #313743;
}
.btn-submit {
    text-align: center;
    justify-content: center;
    margin: 18px auto 0;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 200px;
}
.form-text {
    font-size: 16px;
    color: #313743;
}
.image-select {
    height: 300px;
    border-radius: 5px;
}
