.modalDeleteIdea {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: rgba(175, 167, 167, 0.4);
    z-index: 20;
}
.modalContentDeleteIdea {
    width: 400px;
    height: 195px;
    background-color:#ffffff;
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    color: var(--main-text-color);
}
.header-delete{
    display: flex;
    padding: 14px 20px 0;
    text-align: center;
    .containerDelete{

    }
}
.icon-exit{
    flex: 1;
    float: right;
    margin-left: 275px; 
    cursor: pointer;
    i{
        font-size: 24px;
    }
    i:hover{
        color: #eeeaea;
    }
}
.line{
    margin: 20px 0 14px;
}
.body-delete{
    padding: 0px 20px 0;
   }
.footer-delete{
    padding: 20px 16px;
}
.btn_delete,.btn_cancle {
float: right;
    padding: 7px 15px;
    border-radius: 5px;
    margin: 0px 8px;
}
.btn_delete{
    background-color: #9155fd;
    color: #fff;
}
.btn_cancle{
    text-align: center;
}
.btn_delete:hover{
    background-color: #844ced;
}
.btn_cancle:hover{
    background-color: #c3bcbc;
}

