.modalDeleteIdea {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: rgba(175, 167, 167, 0.4);
    z-index: 2000000;
}

.modalContentDeleteIdea {
    width: 458px;
    height: 300px;
    background-color: white;
    margin: auto;
    z-index: 1;
    border-radius: 7px;
}

.createIdeaHeader {
    position: sticky;
    background-color: rgba(249, 250, 253, 1);
    height: 70px;
    /* background-color: #ffffff; */
    border-radius: 7px 7px 0 0;
    border-bottom: 1px solid #d8e2ef;
    /* box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07); */
}

.createIdea {
    width: 244px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    color: var(--main-text-color);
}
.exit_cmt_modal {
    float: right;
    margin: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #cbced5;
    cursor: pointer;
}
.exit_cmt_modal:hover {
    background-color: #a5a5a5;
}
.post_status {
    margin-bottom: 1rem;
    /* box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07); */
    position: relative;
    display: flex;
    flex-direction: column;
    /* min-width: 0; */
    word-wrap: break-word;
    /* background-color: #fff; */
    background-clip: border-box;
    /* border: 0px solid rgba(0, 0, 0, 0.125); */
    /* border-radius: calc(0.375rem - 0px); */
}

//Black food
.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.input100 {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 2px 7px;
}

.beenh {
    margin: 20px 0 10px 0;
}
.dropdown-toggle {
    white-space: nowrap;
    height: 32px;
    font-size: 14px;
}
