* {
    box-sizing: border-box;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.article_form {
    display: block;
}

.article_container {
    position: relative;
    width: 100%;
    display: flex;
}

/* /NAV  */

.article_navbar {
    max-width: 12.625rem;
    top: 0;
    height: 100vh;
    margin: 0;
}
.navbar_collapse {
    /* display: inline-block; */
    width: 200px;
    height: 400px;
    overflow: hidden;
    background-color: navajowhite;
}

.navbar_vertical {
    width: 12.625rem;
    height: calc(100vh - 4, 3125rem);
    padding: 0.5rem 0 0 0;
    overflow: auto;
}

/* CONTENT  */

.article_content {
    width: 70%;
    margin-left: 15.625rem;
    min-height: 100vh;
    position: relative;
}
.article_gird {
    --falcon-gutter-y: 1rem;
    --falcon-gutter-x: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * 1rem);
    margin-right: calc(-0.5 * 1rem);
    margin-left: calc(-0.5 * 1rem);
}
.article_gird > * {
    max-width: 100%;
    padding-right: calc(var(--falcon-gutter-x) * 0.5);
    padding-left: calc(var(--falcon-gutter-x) * 0.5);
    margin-top: var(--falcon-gutter-y);
}

/* CENTER  */
.article_gird_center {
    flex: 0 0 auto;
    width: 77%;
    margin-top: 100px;
    margin-left: -120px;
}

.post_status {
    margin-bottom: 1rem !important;
    box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);

    --falcon-card-border-color: rgba(0, 0, 0, 0.125);
    --falcon-card-cap-bg: rgba(0, 0, 0, 0);
    --falcon-card-bg: #fff;

    /* --falcon-card-spacer-y: 1.25rem; */
    --falcon-card-spacer-x: 1.25rem;
    --falcon-card-title-spacer-y: 0.5rem;
    --falcon-card-border-width: 0px;
    /* --falcon-card-border-color: rgba(0, 0, 0, 0.125); */
    --falcon-card-border-radius: 0.375rem;
    --falcon-card-box-shadow: ;
    --falcon-card-inner-border-radius: calc(0.375rem - 0px);
    --falcon-card-cap-padding-y: 1rem;
    --falcon-card-cap-padding-x: 1.25rem;
    /* --falcon-card-cap-bg: rgba(0, 0, 0, 0); */
    --falcon-card-cap-color: var(--falcon-headings-color);
    /* --falcon-card-bg: #fff; */
    --falcon-card-img-overlay-padding: 1rem;
    --falcon-card-group-margin: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--falcon-card-height);
    word-wrap: break-word;
    background-color: var(--falcon-card-bg);
    background-clip: border-box;
    border: var(--falcon-card-border-width) solid var(--falcon-card-border-color);
    border-radius: var(--falcon-card-border-radius);
}

.post_hearer:first-child {
    border-radius: 7px 7px 0 0;
}
.post_hearer {
    --falcon-bg-opacity: 1;
    background-color: rgba(249, 250, 253, 1) !important;
    padding: var(--falcon-card-cap-padding-y) var(--falcon-card-cap-padding-x);
    margin-bottom: 0;
    color: var(--falcon-card-cap-color);
    /* background-color: var(--falcon-card-cap-bg); */
    border-bottom: 0 solid var(0, 0, 0, 0.125);
}

.header_item {
    display: flex;
    align-items: center;
}
.header_avatar {
    position: relative;
    display: inline-block;
}

.circle_avt {
    object-fit: cover;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}

.post_create {
    flex: 1;
    margin-left: 0.5rem;
}

.create_post {
    font-size: 1rem;
    margin-bottom: 0;
}

h5 {
    margin-top: 0;
    line-height: 1.2;
    color: #344050;
}

/* BODY  */
.post_body:first-child {
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

.post_body {
    padding: 0;
    flex: 1 1 auto;
}

.textarea_post {
    height: auto;
    width: 200px;
    min-height: calc(1.5em + 0.625rem + 2px);
    resize: none;
    border-radius: 0;
    /* --falcon-border-opacity: 1; */
    border-color: rgba(237, 242, 249, 1);
    /* border-top: 0 !important; */
    border-bottom: 0 !important;
    padding-right: 1.25rem !important;
    padding-left: 1.25rem !important;

    display: block;
    width: 100%;
    padding: 0.3125rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #344050;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d8e2ef;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.post_image {
    padding-bottom: 1rem !important;
    padding-right: 1.25rem !important;
    padding-left: 1.25rem !important;
    margin-top: 1rem !important;
    justify-content: space-between !important;
    display: flex;
    /* flex-wrap: wrap; */
    /* border-top: 0 solid var(0, 0, 0, 0.125); */
}

.post_img_left {
    flex: 1 0 0%;
}

.btn_img {
    background-color: rgba(237, 242, 249, 1);
    border-radius: 50rem;
    font-size: 0.8333333333rem !important;
    margin-right: 15px;
    margin-bottom: 0;
    align-items: center;
    display: inline-flex;
    padding: 5px 10px;
}
.post_img {
    margin-left: 5px;
    display: inline-block !important;
    cursor: pointer;
}

.post_share {
    flex: 0 0 auto;
    width: auto;
}

.post_public {
    margin-right: 0.25rem !important;
    display: inline-block;
    position: relative;
}

.drop_public {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
    white-space: nowrap;
}

.drop_public svg {
    color: #363636;
}

.btn_post_share {
    color: #fff;
    padding: 2px 35px;
    border-radius: 3px;
    background-color: #2c7be5;
    font-size: 0.875rem;
}

/* //bai dang  */
.post_hearer_between {
    justify-content: space-between !important;
    --falcon-gutter-x: 2rem;
    --falcon-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--falcon-gutter-y));
    margin-right: calc(-0.5 * var(--falcon-gutter-x));
    margin-left: calc(-0.5 * var(--falcon-gutter-x));
}

.d_flex {
    display: flex;
    margin-left: 8px;
}

.circle_avt1 {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

link {
    text-decoration: none;
}

.name_account {
    flex: 1;
    margin-left: 0.5rem !important;
    align-self: center !important;
}

.name_user {
    line-height: 1 !important;
    margin-bottom: 0.25rem !important;
}

.post_name_account {
    font-weight: 600 !important;
}

.name_user a {
    color: var(--falcon-link-color);
}

.date_time {
    font-size: 0.8333333333rem !important;
    margin-bottom: 0 !important;
}

.post_setting {
    position: relative;
}

.btn_setting {
    color: gray;
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
    white-space: nowrap;
}

/* post body  */
.posts_body {
    flex: 1 1 auto;
    padding: 1.25rem 1.25rem;
    color: var(--falcon-card-color);
}

.posts_body p {
    font-size: 16px;
    text-align: justify;
}

.body_img {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * 0.5rem);
    margin-right: calc(-0.5 * 0.5rem);
    margin-left: calc(-0.5 * 0.5rem);
}
.show_img_6 {
    flex: 0 0 auto;
    width: 50%;
    padding: 0 5px 9px;
}

.show_img_6 img {
    width: 370px;
    height: 200px;
    border-radius: 3px;
    vertical-align: middle;
}

.img_img {
    max-width: 100%;
    /* height: auto; */
}

.show_img_4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    padding: 0 5px;
}

.show_img_4 img {
    width: 245px;
    height: 275px;
    border-radius: 3px;
    vertical-align: middle;
}

.img_img {
    max-width: 100%;
    height: auto;
}

/* footer  */
.posts_footer:last-child {
    border-radius: 0 0 calc(0.375rem - 0px) calc(0.375rem - 0px);
    --falcon-bg-opacity: 1;
    background-color: rgba(var(--falcon-light-rgb), var(--falcon-bg-opacity)) !important;
    padding-top: 0 !important;
    padding: 1rem 1.25rem;
    color: #344050;
    border-top: 0 solid rgba(0, 0, 0, 0.125);
}

.total_like {
    border-color: rgba(237, 242, 249, 1);
    font-size: 0.8333333333rem !important;
    padding-bottom: 1rem !important;
    border-bottom: 1px solid #d8e2ef;
}
.count_like {
    color: rgba(94, 110, 130, 1);
    margin-right: 0.25rem !important;
}

.emotion {
    text-align: center;
    font-weight: 600 !important;
    font-size: 0.8333333333rem !important;
    padding-top: 16px;
    padding-top: 16px;

    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * 0);
    margin-right: calc(-0.5 * 0);
    margin-left: calc(-0.5 * 0);
}

.emotion_item {
    flex: 0 0 auto;
    width: auto;
}

.emotion_gird {
    cursor: pointer;
    border-radius: 0.25rem;
    color: rgba(94, 110, 130, 1) !important;
    margin-right: 1rem !important;
    display: flex;
    align-items: center;
}

.like_icon {
    margin-left: 0.25rem !important;
}


/* COMMENT  */
.write_comment{
    padding-top: 1rem;
    border-color: rgba(237, 424, 249, 1);
    align-items: center;
    display: flex;
}

.avatar_comment{
    height: 2rem;
    width: 2rem;
    position: relative;
    display: inline-block;
}

.input_cmt{
    border-radius: 50rem;
    font-size: 0.8333333333rem !important;
    margin-left: 0.5rem !important;
    display: block;
    width: 100%;
    padding: 0.3125rem 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #344050;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d8e2ef;
    appearance: none;
    /* border-radius: 0.25rem; */
    box-shadow:  inset 0 1px 2px rgba(0, 0, 0, 0.075);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* RIGHT  */
