.modalDeleteIdea {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: rgba(175, 167, 167, 0.4);
    z-index: 2000000;
}

.modalContentDeleteIdea {
    width: 750px;
    height: 450px;
    background-color: #f9fafd;
    margin: auto;
    z-index: 1;
    border-radius: 7px;
    overflow: auto;
    input {
        border: none;
    }
}
.exit {
    float: right;
    margin: 5px 10px 5px 5px;
    cursor: pointer;
}
.exit:hover {
    color: #292e32;
}
