.container-profile{
    margin: 40px 40px 0;
}

.left{
    float: left;
    margin-top: -155px;
    button{
        margin: -210px 27px 0;
    }
}

.right{
    float: right;
    margin-top: -155px;
    button{
        margin: -210px 27px 0;
    }
}

.btn-recipe, .btn-blog, .btn-plan, .btn-average{
    background-color: darkgrey;
    border-radius: 30px;
    width: 112px !important;
}
.edit-profile{
    color: none !important;
    cursor: pointer;
}
.edit-profile:hover{
 color: brown;
}
.name-account{
    margin-top: 50px;
    font-size: 16px;
    font-weight: 600;
    color: var(--main-text-color);
}
.flex{
    display: flex;
    gap: 72px;
    li a{
        transition:  .5s;
        color: var(--main-text-color);
    }    
}

.flex:hover li a{
    color: var(--second-color-text);
}
.flex:hover li a:not(:hover){
    color: cadetblue;
    opacity: 0.3;
    filter: blur(1px);
}

