* {
    box-sizing: border-box;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

textarea:focus,
input:focus {
    outline: none;
}
.article_form {
    z-index: 1;
}

.article_container {
    width: 100%;
    display: flex;
}
.article_navbar,
.nav-mobile,
.article_content {
    margin-top: 115px;
}

/* /NAV  */
.article_navbar {
    position: fixed;
    width: 100%;
}
.navbar_collapse {
    // width: 30%;
    // height: 500px;
    overflow: hidden;
    transition: width 0.2s ease;
    transition-property: width, box-shadow;
    display: inline-block !important;
    // margin-left: 137px;
    margin-left: 50px;
    // margin-left: 80px;
}

.navbar_vertical {
    width: 19.625rem;
    // padding: 0.5rem 0 0 1.5rem;
    /* overflow: auto; */
}

.f_colum {
    font-size: 1.1rem;
    font-weight: 500;
    flex-direction: column !important;
    display: flex;
    padding-left: 0;
}

.f_colum li {
    display: list-item;
}

.nav_home {
    color: #344;
    padding: 0.5rem 0;
    position: relative;
    cursor: pointer;
    display: block;
}
.agile_item {
    display: flex;
    align-items: center;
}

.link_home_icon {
    width: 1.5rem;
    min-width: 1.5rem;
    font-size: 0.875rem;
}

.link_home_text {
    padding-left: 0.25rem !important;
}
.nav_item_gird {
    min-height: 1.125rem;
    margin-bottom: 0.5rem !important;
    margin-top: 1rem !important;
    display: flex;
    flex-wrap: wrap;
    margin: 0px calc(-0.5 * 2rem);
}
.nav_user {
    color: #2162b6;
    font-size: 12px;
    flex: 0 0 auto;
    margin-top: -5px;
    margin-left: 15px;
}

.nav_line {
    padding-left: 0 !important;
    flex: 1 0 0%;
}

.hr_line {
    color: rgba(0, 0, 0, 0.08);
    margin-top: 0.5625rem;
    margin-bottom: 0 !important;
}
.nav_line hr {
    margin-left: 7px;
    border: 0;
    /* border-top: 1px solid; */
    opacity: 1;
    /* display: block; */
    /* unicode-bidi: isolate; */
    margin-block-start: 0.5em;
}

/* CONTENT  */
.article_content {
    // width: 75%;
    // position: relative;
    // margin-left: 30rem;

    width: 71%;
    /* min-height: 100vh; */
    position: relative;
    margin-left: 23rem;
}

.article_gird {
    display: flex;
    flex-wrap: wrap;
}

/* CENTER  */
.article_gird_center {
    flex: 0 0 auto;
    width: 70%;
    margin-left: 50px;
}
.post_status {
    margin-bottom: 1rem;
    box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: calc(0.375rem - 0px);
}

.header_item {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.header_avatar {
    position: relative;
    display: inline-block;
}

.post_create {
    flex: 1;
    margin-left: 0.5rem;
}

.create_post {
    font-size: 14px;
    margin-bottom: 0;
}

/* left  */
.follower h2 {
    font-size: 18px;
    margin: 8px 0;
    color: #344050;
}
.follow-box {
    overflow: auto;
    max-height: 340px;
    cursor: pointer;
    font-size: 16px;
}

.show_info1 {
    margin: 13px 0;
}

/* //form create post  */
.write_comment {
    padding-top: 10px;
    border-color: rgba(237, 424, 249, 1);
    align-items: center;
    display: flex;
}
.input_cmt {
    border-radius: 50rem;
    font-size: 0.8333333333rem;
    margin-left: 0.5rem;
    display: block;
    width: 90%;
    padding: 0.3125rem 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #344050;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d8e2ef;
    appearance: none;
    /* border-radius: 0.25rem; */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

h5 {
    margin-top: 0;
    line-height: 1.2;
    color: #344050;
}

/* BODY  */
.post_body:first-child {
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

.post_body {
    padding: 0;
    flex: 1 1 auto;
}

.textarea_post {
    height: auto;
    min-height: calc(1.5em + 0.625rem + 2px);
    resize: none;
    display: block;
    width: 100%;
    padding: 0.3125rem 1.25rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #d8e2ef;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

// /.comment
.read_comment {
    display: flex;
    margin: 10px 15px;
}

.read_cmt p {
    display: block;
    margin-block-end: 5px;
    margin-left: 5px;
}

.name_account_cmt {
    font-weight: 600;
    color: #2c7be5;
}

.view_cmt {
    margin-left: 0.25rem;
    color: var(--main-text-color);
}

.reply_comment {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: var(--main-text-color);
}

.reply_comment a,
.show_name a,
.name_adver a {
    color: #2162b6;
}

.reply_comment a:hover,
.show_name a:hover,
.name_adver a:hover {
    text-decoration: underline;
    color: #2c7be5;
}

.circle_avt {
    object-fit: cover;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}
// **********
.post_image {
    padding-bottom: 1rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    margin-top: 1rem;
    justify-content: space-between;
    display: flex;
}

.post_img_left {
    flex: 1 0 0%;
}

.btn_img {
    background-color: #f9fafd;
    border-radius: 50rem;
    font-size: 0.8333333333rem;
    margin-right: 15px;
    margin-bottom: 0;
    align-items: center;
    display: inline-flex;
    padding: 5px 10px;
}
.btn_img:hover {
    background-color: #b0bccf;
}

.btn_img img {
    width: 17px;
    height: 17px;
}

.post_img {
    margin-left: 5px;
    display: inline-block;
    cursor: pointer;
}

.post_share {
    flex: 0 0 auto;
    width: auto;
}

.post_public {
    margin-right: 0.25rem;
    display: inline-block;
    position: relative;
}

.drop_public {
    padding-right: 0.5rem;
    white-space: nowrap;
}

.drop_public svg {
    color: #363636;
}

.btn_post_share {
    color: #fff;
    padding: 4px 35px;
    border-radius: 3px;
    background-color: #2c7be5;
    font-size: 0.9rem;
    font-weight: 600;
}
.btn_post_share:hover {
    background-color: #195eb8;
}

/* //bai dang  */

/* footer  */

/* RIGHT  */
.gird_right {
    flex: 0 0 auto;
    width: 20%;
    position: fixed;
    float: right;
    // right: 105px;
    right: 46px;
}

/* top  */
.right_info,
.right_bottom {
    position: relative;
    display: flex;
    flex-direction: column;
}

.right_info {
    box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    margin-bottom: 1rem;
    margin-top: 5px;
    // height: 220px;
    height: 120px;
    overflow-y: auto;
}

.right_info_card {
    font-size: 0.8333333333rem;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.show_info1 {
    display: flex;
}

.show_info {
    display: flex;
    margin-bottom: 12px;
}
.show_info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    // margin-top: 1px;
    object-fit: cover;
}
.show_name {
    flex: 1;
    margin-left: 1.2rem;
    margin-top: 3px;
    font-weight: 0;
}
.header_add_follow {
    border-radius: 2px;
    // background-color: rgba(249, 250, 253, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    color: #344050;
    // border-bottom: 0px solid rgba(0, 0, 0, 0.125);
}

.header_add_fl {
    font-size: 18px;
    display: block;
    font-weight: 500;
    line-height: 1.2;
    color: #344050;
}

.right_follow {
    flex: 1 1 auto;
    height: 160px;
    padding: 2px 0;
    overflow-y: auto;
}

.avt_follow {
    position: relative;
    display: inline-block;
}
.avt_follow img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.show_name h6,
.info_adver h6 {
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1.2;
    color: #344050;
}

.show_name h6 {
    font-size: 0.8333333333rem;
}

.btn_follow {
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0.25rem;
    border: 1px solid #d8e2ef;
    display: inline-block;
    padding: 0.01rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
    color: #4d5969;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border-radius: 0.25rem;
    background-color: #f9fafd;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.btn_follow svg {
    margin-top: -4px;
    margin-right: 4px;
}

.border_line {
    margin: 10px 0;
    border-bottom: 1px dashed #d8e2ef;
}
.show_info

/* right bottom  */
.right_bottom {
    box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}
.top_advertisement {
    background-color: rgba(249, 250, 253, 1);
    padding: 0.5rem 1.25rem;
    color: #344050;
    border-bottom: 0px solid rgba(0, 0, 0, 0.125);
}

.center_adver {
    font-size: 12px;
    border-bottom: 1px solid #d8e2ef;
    flex: 1 1 auto;
    padding: 0.5rem 1.25rem 0;
}

.package_adver {
    width: 3.125rem;
    line-height: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 0.375rem;
}
.package_adver .package {
    background-color: #e63757;
    color: #fff;
    border-radius: 0.375rem 0.375rem 0 0;
    padding: 0.25rem;
    font-weight: 600;
}
.package_adver .type_adver {
    font-size: 1.728rem;
    padding: 0.25rem;
    border: 0.125rem solid rgba(230, 55, 87, 0.3);
    border-top: 0;
    border-radius: 0 0 0.375rem 0.375rem;
    color: #9da9bb;
    font-weight: 700;
}

.info_adver {
    flex: 1;
    padding-left: 1rem !important;
    position: relative !important;
}

.name_adver {
    font-size: 1rem !important;
}

.name_package {
    margin-right: 0.25rem !important;
}
.follow {
    margin-bottom: 2px;
    font-size: 15px;
}
.count-follower {
    font-size: 14px;
}
.info_adver2 {
    /* color: rgba(35, 46, 60, 1); */
    margin-bottom: 2px;
}
.right_footer {
    border-radius: 0 0 2px 2px;
    background-color: rgba(249, 250, 253, 1);
    color: #344050;
    border-top: 0px solid rgba(0, 0, 0, 0.125);
    margin-top: 2px;
    /* padding: 0; */
}

.all_adver {
    width: 100%;
    padding: 0.5rem 0;
    font-weight: 400;
    color: #2c7be5;
    display: inline-block;
    padding: 0.3rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    text-align: center;
    border: 1px solid #f9fafd;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.circle_avt {
    object-fit: cover;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}
.post_hearer:first-child {
    border-radius: 7px 7px 0 0;
}
.post_hearer {
    --falcon-bg-opacity: 1;
    background-color: rgba(249, 250, 253, 1);
    padding: 1rem 1rem 0;
    margin-bottom: 0;
    border-bottom: 0 solid var(0, 0, 0, 0.125);
}

//qunag cao
.header_annous {
}

.show-imgage-sp {
    width: 235px;
    height: 180px;
    border-radius: 5px;
    margin-bottom: 27px;
}

.ad-container {
    position: relative;
    overflow: hidden;
}

.ad-container:hover .ad-sponsor {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}

.ad-title {
    position: absolute;
    top: 40%;
    color: #363636;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    text-align: center;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.275), rgba(255, 255, 255, 0.8));
    padding: 10px;
    opacity: 0;
    width: 100%;
    height: 100px;
    transition: transform 0.5s, opacity 0.5s;
}
.sp-title {
    font-size: 16px;
    font-weight: 600;
    color: black;
}
.sp-user {
    color: black;
    font-size: 15px;
}

.ad-container:hover .ad-title {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}

.show-image-sp {
    width: 100%;
    display: block;
    transition: filter 0.3s ease;
}

.ad-container:hover .show-image-sp {
    filter: brightness(70%);
}

//responsive
.nav-mobile {
    display: none;
}
@media (max-width: 70em) {
    .gird_right {
        display: none;
    }
    .article_gird_center {
        margin-left: 25px;
        width: 99%;
    }
}

@media only screen and (max-width: 62.5em) {
    .navbar_collapse {
        // margin-left: 60px;
        width: 20%;
    }
    .article_gird_center {
        margin-left: 0;
        width: 97%;
    }
}
@media only screen and (max-width: 50em) {
    .nav-mobile {
        display: block;
    }
    .article_navbar {
        display: none;
    }
    .article_content {
        width: 85%;
        margin: 0 auto;
        .article_gird_center {
            width: 100%;
        }
    }
}
