.floating_button {
    opacity: 1;
    transform: scale(1);
    transition: opacity 400ms ease;
    height: auto;
    /* background-color: #242424; */
    margin-top: 110px;
    /* height: 130px; */
    position: absolute;
    /* width: 65px; */
    z-index: 2;
    right: 0;
    margin-right: 80px;
    position: fixed;
}
.save_button {
    position: relative;
}

.button_save_recipe {
    overflow: hidden;
    display: flex;
    transition: max-width 600ms ease;
    border-radius: 3em;
    margin-top: 16px;
    width: auto;
    max-width: 56px;
    width: 56px;
    height: 56px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12), 0 0 1px rgba(0, 0, 0, 0.05) inset;
    padding: 0;
    color: #242424;
    background-color: #ffffff;
}
.icon_save {
    padding: 15px;
    transition: color 200ms ease;
    display: inline-block;
}