*,
::after,
::before {
    box-sizing: inherit;
}

.nav_wrap {
    background: #fff;
    height: 70px;
    align-items: center;
    border-bottom: 1px solid #e8ebed;
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    left: 0;
    padding: 0 30px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 20;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.nav_left {
    width: 33.3%;
    align-items: center;
    display: flex;
}

.nav_smaller_heading {
    margin-right: 10px;
    cursor: pointer;
}

.nav_left a {
    display: flex;
}

a:focus,
a:hover,
a:visited {
    outline: none;
    text-decoration: none;
}

.nav_left img {
    width: 55px; /* Đặt chiều rộng của ảnh */
    height: 55px; /* Đặt chiều cao của ảnh (nếu cần) */
    border-radius: 50%; /* Bo góc để tạo hình tròn */
    object-fit: cover;
}

.nav_nameweb {
    display: flex;
    text-transform: uppercase;
    color: #000;
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 16px;
    justify-content: center;
    align-items: center;
}

.letter {
    transition: 0.4s;
    transform: translateX(0);
    cursor: grab;
    color: #444;
}

.letter:hover {
    transform: translateY(-1rem);
    background: -webkit-repeating-linear-gradient(120deg, hsl(19, 90%, 52%), hsl(56, 100%, 50%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav_action {
    width: 33.3%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav_separator {
    width: 1px;
    height: 85%; /* Chiều cao bằng chiều cao của phần tử content */
    background-color: rgb(197, 190, 190);
    margin: 0 8px;
}

.search_wrapper {
    border: 2px solid #e8e8e8;
    border-radius: 20px;
    flex: 1 1;
    height: 30px;
    padding: 0 16px 0 8px;
    transition: border-color 0.2s ease-in-out;
    width: 375px;
    align-items: center;
    display: flex;
    justify-content: center;
    &:focus-within {
        border: 1.5px solid rgba(22, 24, 25, 0.2);
    }
}

.search_icon {
    height: 18px;
    width: 28px;
    margin-left: 4px;
}

.search_input {
    border: none;
    caret-color: #444;
    flex: 1 1;
    height: 100%;
    outline: none;
}

.nav_search_cancel svg {
    color: #cec6c6;
    margin-top: 3px;
    cursor: pointer;
}

button,
input {
    overflow: visible;
    font-family: inherit;
    font-size: 90%;
    line-height: 1.15;
}

.nav_right {
    width: 33.3%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
   
}

.nav_right .pulse {
    cursor: pointer;
    margin: -5px 120px 0 0;
    height: 31px;
    width: 31px;
    background: linear-gradient(#8a92fb, #487ed7);
    position: absolute;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 50px;
    color: #ffffff;
 }

.right_login{
    cursor: pointer;
}


.pulse::before,
.pulse::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #8a82fb;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.7;
}

.pulse::before{
    animation: pulse 2s ease-out infinite;
}
.pulse::before{
    animation: pulse 2s 1s ease-out infinite;
}

@keyframes pulse{
    100%{
        transform: scale(2.5);
        opacity: 0;
    }
}



.nav_right .right_login,
p {
    /* margin-right: 45px; */
}

.nav_menu {
    display: none;
}

.search_box {
    display: none;
}

/* responsive */
.nav_menu {
    color: #707070;
    flex: 1 1;
    font-size: 2rem;
    margin-right: 16px;
    padding: 8px 0;
}

/* Responsive for tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .nav_left img,
    .search_wrapper,
    .nav_right p {
        display: none;
    }

    .nav_menu {
        display: block;
        color: #707070;
        font-size: 2rem;
    }
    .nav_left {
        margin-left: 10px;
    }

    .nav_nameweb {
        margin-right: 45px;
    }

    .search_box {
        position: absolute;
        /* top: 50%;
        left: 50%; */
        transform: translate(-50%, -50%);
        background: #2c3441;
        height: 35px;
        border-radius: 50px;
        padding: 10px;
        margin-left: 95px;
    }

    /* .search_box:hover > input {
        width: 200px;
        padding: 0px 12px ;
    } */

    /* .search_box:hover > .search_icon_res {
        background: #536179;

    } */

    /* .search_icon_res:hover {
        transform: rotate(360deg) scale(0.8);
        width: 20px;
        height: 20px;
    } */

    input {
        /* width: 0; */
        border: none;
        outline: none;
        padding: 0;
        background: none;
        font-size: 1.1rem;
        transition: 0.5 ease;
        line-height: 40px;
        color: #fff;
        margin-top: -10px;
        /* padding: 2px 1px 1px 1px; */
    }

    .search_icon_res {
        color: white;
        float: right;
        width: 35px;
        font-size: 1.3rem;
        height: 35px;
        border-radius: 50%;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        cursor: pointer;
        /* text-decoration: none; */
        margin: -10px -12px 0 0px;
    }
}
