* {
    font-family: 'DM Sans', sans-serif;
}

.img_carousel {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
}

.img_carousel_item {
    position: relative;
    width: 340px;
    height: 550px;
    list-style: none;
    margin-left: 30px;
    border-radius: 10px;
    border: solid 1px #e1e1e1;

}

.img_carousel_item > div {
    height: 100%;
}

.card_box_in {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;


}

.recipe_card_img {
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    /* background-color: #ffffff; */
}

.recipe_card_img:hover img {
    transform: scale(1.1);

}

.recipe_card_img img {
    border-radius: 4px;
    width: 100%;
    margin: 10px 0 7px 0 ;
    transition: 0.5s ease;
    object-fit: cover;
}

.title_box {
    content: '';
    height: 140px;
    position: absolute;
    transform: translateY(50px);
    transition: 0.5s ease;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
    width: 100%;
    z-index: 1;
    border-radius: 5px;
}

.card_ingredients {
    z-index: 10;
    position: absolute;
    color: #fff;
    bottom: -4px;
    transform: translateY(50px);
    padding: 2px 5px;
    transition: 0.3s ease;
    cursor: pointer;
}

.recipe_card_img:hover .title_box,
.recipe_card_img:hover .card_ingredients {
    transform: translateY(0);
}

.card_info_wrapper {
    margin: 12px 0px;
    width: 100%;
    display: flex;
}

.card_name {
    display: inline-block;
    margin: 10px 25px;
}
.card_title {
    line-height: 1.1;
    font-size: 25.5px;
    /* font-weight: ; */
    text-align: justify;
    color: #1d1d1d;
    /* font: inherit; */
    vertical-align: baseline;
}

.card_source {
    display: inline-block;
    width: 100%;
    padding: 1em 0px;
}

.card_source_link {
    margin: 20px 0;
    color: #646464;
}

.card_source_link:hover {
    color: rgb(47, 183, 138);
}

.icon_stars {
    position: relative;
    display: inline-block;
    margin-left: -5px;
}

.review_stars {
    cursor: pointer;
    color: #646464;
}

.icon_stars img {
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.count_rate {
    margin-left: 5px;

    /* color: #646464; */
}

.cook {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cook button {
    color: #1d1d1d;
    background-color: transparent;
    /* position: relative; */
    width: 80%;
    height: 45px;
    /* display: inline-block; */
    border-style: solid;
    border-radius: 30px;
    transition: all 0.1s linear;
    font-size: 17px;
    font-weight: bolder;
    cursor: pointer;
    border-width: 1px;
}

.cook button:hover{
    color: white;
    background-color: #1d1d1d;
}

.btn_save {
    border: none;
    background: none;
}

.card_save {
    width: 20%;
}
.card_box {
    position: relative;
    float: right;
}

.save_recipe {
    transform: rotateZ(0turn);
    color: rgb(212, 24, 24);
    transition: all 400ms ease 0s, transform 800ms ease 0s;
}

.save_recipe svg {
    color: rgb(36, 36, 36);
}

.count_recipe {
    font-size: 14px;
    margin-left: 5px;
    margin-top: 15px;
}
