@media (min-width: 1200px) {
    .row {
        max-width: 100%;
    }
}
.container-table {
    padding-top: 1.5rem;
    overflow: hidden;
}

.row,
.row-table {
    /* background-color: #ffffff; */
    /* border-radius: 6px; */
    /* box-shadow: 0px 2px 10px 0px rgba(58, 53, 65, 0.1); */
    width: 100%;
    transition: padding 0.25s ease-in-out;
    margin: 17px auto;
    padding: 0 5px;
}

.col_12 {
    display: flex;
}
.page_title_box {
    flex: 1;
}
.page_title {
    font-size: 18px;
    // margin: 15px 0 -20px 35px;
    margin-top: 15px;
    line-height: 50px;
    font-weight: 500;
    color: #393c3f;
}
.border-table {
    background-color: #fff;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 6px;
    background-image: none;
    width: 100%;
    overflow-x: auto;
    box-shadow: 0px 2px 10px 0px rgba(58, 53, 65, 0.1);
    border-top-color: rgba(58, 53, 65, 0.12);
}
.row-table {
    padding: 0 10px;
}
.header th,
.hover-actions-trigger td {
    padding: 1rem 2.5rem;
    color: #292e32;
    font-family: 500;
}
.border-300 svg:hover {
    color: blue;
}
.status {
    border-radius: 20px;
    text-align: center;
    padding: 3px 5px;
}
.badge-soft-success {
    color: #00864e;
    background-color: #ccf6e4;
}
.badge-soft-warning {
    color: #9d5228;
    background-color: #fde6d9;
}

.table-list {
    padding: 5px 20px;
}

table thead tr .text-color {
    color: #282d31;
    font-size: 16px;
    font-weight: 500;
}
table tbody tr .text-color,
table tbody tr .text-color svg {
    color: #292e32;
    font-size: 16px;
    // font-weight:400;
}

//CATEGORY
.select-type {
    padding-top: 8px;
    float: right;
    margin: 20px 55px 8px 0px;
    width: 135px;
}
.mt-2 i:hover {
    color: #00864e;
    cursor: pointer;
}
.form-select {
    // width: 25% !important;
}
.select {
    height: 30px;
    font-size: 16px;
}
.select option {
    font-size: 13px;
}
// .add-cate{
//     float: right;
//     margin: 20px 55px 0 0px;
//     width: 120px;
//     height: 32px;
//     border-radius: 3px;
//     border: 1px solid #dee2e6;
//     justify-content: center;
//     text-align: center;
// }
.add-cate {
    width: 125px;
    height: 32px;
    margin: 20px 55px 0 0px;
    border-radius: 3px;
    border: 1px solid #dee2e6;
    text-align: center;
    cursor: pointer;
}
.add-cate svg {
    color: #282d31;
}
.add-cate:hover {
    box-shadow: 0px 0px 10px rgba(153, 100, 244, 0.3);
    transition: border 0.15s ease-in-out;
    background: #afb1b300;
}
.add-cate span {
    font-size: 15px;
    color: #292e32;
}
//contributor
.c-flex {
    display: flex;
}
.flex-mod {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-right: 0.5rem;
}
.flex-mod img {
    margin-right: -0.5rem;
    height: 2.5rem;
    width: 40px;
    height: 40px;
    // max-width: 100%;
    border-radius: 50%;
    border: solid 2px #9155fd;
    transform: 0.3s all ease;
}
.flex-mod img:hover {
    transform: scale(1.3);
}
