// .wrapper {
//     width: 100%;
//     max-height: min((100hv - 96hv) - 60px, 734px);
//     min-height: 100px;
//     background-color: rgb(255, 255, 255);
//     box-shadow: rgb(231 228 228) 0px 2px 12px;
//     border-radius: 8px;
//     padding: 6px 0;
//     min-width: 225px;
//     margin-left: -26px;
// }
.wrapper {
  // width: 111%;
  width: 250px;
  max-height: 450px;
  min-height: 100px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(231, 228, 228) 0px 2px 12px;
  border-radius: 5px;
  padding: 6px 0;
  min-width: 225px;
  margin-left: 0;
  overflow-y: auto;
  // -26px
}
