.browse {
    display: flex;
    width: 100%;
}

.right {
    overflow: hidden;
}

/* .content_wrapper {
    overflow: hidden;
    background-color: rgb(208, 230, 249);
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* 
.browse_nav {
    position: relative;
    flex-direction: column-reverse;
    margin-top: 100px;
    width: 80%;
    padding: 0;
    overflow-x: hidden;
}
.header_text_scroll {
    overflow-y: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    white-space: nowrap;
    scroll-behavior: smooth;
} */

/* .cate_recipe {
    list-style: none;
    text-decoration: none;
    
    font-weight: 700;
    transition: all 200ms ease;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 2px;
    color: #4a4a4a;
    line-height: 1.857142857142857;
    margin-bottom: 2.5em;
    margin-right: 12px;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
} */
/* 
.cate_recipe::before,
.cate_recipe::after {
    content: '';
    position: absolute;
    left: 0;
    
    width: 100%;
    height: 2px;
    background-color: #0561ee;
    transform: scaleY(0);
    transition: transform 0.25s;
}

.cate_recipe::before {
    top: -3px;
    transform-origin: left;
}

.cate_recipe::after {
    bottom: -3px;
    transform-origin: right;
}

.cate_recipe:hover::before,
.cate_recipe:hover::after,
.active::before,
.active::after {
    transform: scaleX(1);
}

.cate_recipe:focus {
    color: #3a9691;
} */

/* introduction */
/* .intro {
    margin-left: 200px;
    margin-top: 50px;
    width: 28ch;
    animation: typing 6s steps(28) forwards, blink 0.3s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
   
    font-size: 2em;
}

.intro h3 {
    background: linear-gradient(140deg, #05fb53, #bc05c9, #e1e107);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    font-size: 25px;
    font-weight: 550;
}

@keyframes typing {
    0%,
    100% {
        width: 0;
    }
    50% {
        width: 28ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
} */

/* TOP  */
.top {
    /* z-index: 9; */
    position: absolute;
    margin: 35px 0;
    width: 100%;
}

.breadcrumb_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    height: 100%;
    width: 100%;
    max-width: 1360px;
    padding: 0 40px;
    margin: auto;
}

.breadcrumb {
    display: flex;
    width: auto;
    margin: 0;
    flex-shrink: 0;
    line-height: 1.1;
}

.breadcrumb span:not(:last-child) {
    margin-inline-end: 0.6875rem;
}

.breadcrumb_link a {
    /* border-bottom: none !important; */
    transition: all 0.1s linear;
}

.name_recipe {
    padding: 0 18px;
}
.name_recipe h1 {
    margin: 85px 20px 25px;
}

/* BAT DAU  */
.gird {
    width: 100%;
}

.gird {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* .gallery_left {
    margin-left:10px;
} */

.g_card {
    display: inline-block;
    margin: 20px 8px;
    position: relative;
    border-radius: 5px;
    transition: 1000ms all;
    transform-origin: center left;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    width: 555px;
    height: 240px;
}

.figure {
    display: inline-block;
    position: relative;
}

.figure img {
    width: 555px;
    height: 240px;
    object-fit: cover;
    border-radius: 4px;
}

.figcaption h3 {
    position: absolute;
    left: 0;
    color: white;
    padding: 5px;
    z-index: 1;
}

.g_card:hover,
.g_card_right:hover {
    cursor: pointer;
    transform: scale(0.99);
}

.g_card:hover .figcaption,
.g_card_right:hover .figcaption {
    font-size: 0.6rem;
    position: absolute;
    width: 555px;
    height: 240px;
    display: flex;
    border-radius: 5px;
    align-items: end;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    left: 0px;
    bottom: 0px;
}

/* Introduction of Recipe */

.summary {
    width: 100%;
    margin: 50px 0;
}

.summary_contain {
    padding: 20px 40px;
    width: 100%;
}

.summary_title {
    font-size: 24px;
    margin: 0 auto 12px;
    cursor: pointer;
    text-transform: uppercase;
}

.summary_contain p,
.summary_add {
    text-align: justify;
    font-size: 18px;
    line-height: 1.666666666666667;
}

/* POPULAR INGREDIENTS */

.cate_contain {
    margin-top: 65px;
}

.cate_img_block {
    margin-top: 5px;
    margin-left: 26.5px;
    width: 143px;
    display: inline-block;
    /* background-color: #0561ee; */
}

/* anh tron  */
/* .swiper_slide {
    background-position: center;
    background-size: cover;
}
.swiper_slide::after {
    position: absolute;
    content: '';
    inset: 0;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: linear-gradient(to border-right, #b8b8b88f, #ffffff5e);
}

.swiper_slide_active::after {
    background: none;
}

.swiper_slide > div {
    text-align: center;
    display: none;
    opacity: 0;
}
.swiper_slide_active div {
    display: block;
    opacity: 1;
}

.swiper_slide img {
    object-fit: cover;
    box-shadow: 0pxx 3px 17p rgb(0, 0, 0 / 25%);
    border-radius: 50%;
    aspect-ratio: 1/1;
} */

/* NEW RECIPE  */
.recipe_card h2 {
    margin-left: 35px;
}

/* TOP ACCOUNT  */

.team {
    width: 100%;
    height: 90vh;
     background-size: cover;
    background-position: center;
   
}

.team h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    margin-bottom: 30px;
}

.team h1 span {
    color: #fac031;
    margin-left: 15px;
    font-family: mv boli;
}

.team h1 span::after {
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    bottom: 15px;
}

.name {
    margin-top: -20px;
}

.team .team_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 13%;

}

.team .team_box .profile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transition: 0.4s;  
}

.team .team_box .profile:hover {
    border-radius: 20px;
    height: 270px;
}

.team .team_box .profile img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: 0.4s;
}

.team .team_box .profile:hover img {
    border-radius: 20px;
    margin-top: -230px;
}

.team .team_box .profile .info {
    position: absolute;
    text-align: center;
    top: 25%;
    transition: 0.4s;
}

.team .team_box .profile:hover .info {
    top: 60%;
}

.team .team_box .profile .info .name {
    color: #fac031;
    /* margin-bottom: 15px; */
}
.name {
    margin-top: -30px;
}

.team .team_box .profile .info .bio {
    width: 100%;
    display: flex;
    text-align: center;
    margin: 0 auto 5px auto;
    /* background-color: aqua; */
}

.team .team_box .profile .info .team_icon svg {
    margin: 0px 5px 5px 5px;
    cursor: pointer;
    transition: 0.3s;
}

.team .team_box .profile .info .team_icon svg:hover {
    color: #fac031;
}
