.packageAds-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.choose_btn1,
.choose_btn {
    border-radius: 4px;
    padding: 7px 35px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    margin-top: -5px;
}

.choose_btn {
    background-color: #fa9552bb;
}

.choose_btn1 {
    background-color: #3f91fd;
}

.choose_btn:hover {
    background-color: #fac031;
}

.choose_btn1:hover {
    background-color: #6398dc;
}

//cai moi
.h-screen {
    margin-top: 150px;
}
.border {
    width: 25.5%;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
}
.px-5 {
    padding: 1rem 2.5rem 2.5rem !important;
}
text-3xl {
    font-size: 1.6rem !important;
}

//HISTORY PACKAGE
.payment-history {
    margin: 60px 0;
}
.mt-100 {
    margin-top: 100px;
}
.mb-100 {
    margin-bottom: 100px;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    // background-color: #fff;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 0px;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card .card-title {
    position: relative;
    font-weight: 600;
    margin-bottom: 10px;
}

ul.list-style-none li {
    list-style: none;
}

ul.list-style-none li a {
    color: #673ab7;
    padding: 8px 0px;
    display: block;
    text-decoration: none;
}

.m-t-5 {
    margin-top: 5px;
}

.w-30px {
    width: 30px;
}
.filter-month {
    margin: 20px 0;
}
//ACTIVE
.fa-ellipsis-v {
    font-size: 10px;
    color: #c2c2c4;
    margin-top: 6px;
    cursor: pointer;
}
.text-dark {
    font-weight: bold;
    margin-top: 8px;
    font-size: 13px;
    letter-spacing: 0.5px;
}
.card-bottom {
    background: #3e454d;
    border-radius: 6px;
}
.flex-column {
    color: #adb5bd;
    font-size: 13px;
}
.flex-column p {
    letter-spacing: 1px;
    font-size: 18px;
}
.btn-secondary {
    height: 40px !important;
    margin-top: 3px;
}
.btn-secondary:focus {
    box-shadow: none;
}

.form-control {
    display: flex;
    margin-top: 6px;
    width: 100%;
    padding: 1rem 0.75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

//button
.btn-button {
    width: 220px;
    border: 1px solid #f2f2f2;
    margin: 25px auto 10px;
    border-radius: 5px;
}
.btn-button:hover {
    background-color: rgb(96, 96, 254);
    color: #fff;
}

//réponsive
